<ng-container *ngIf="componentData">
  <ng-container *ngIf="componentData.projectData.allowAutomationWorkflow; else defaultFields">
    <div class="m-b-15 automation-panel-grid">
      <sqtm-core-label
        [text]="'sqtm-core.generic.label.automation.indicator' | translate">
      </sqtm-core-label>
      <sqtm-core-editable-radio-button
        [attr.data-test-field-id]="'test-case-automatable'"
        [options]="automatableOptions"
        [value]="componentData.testCase.automatable"
        [editable]="editable"
        (confirmEvent)="changeAutomatable(componentData.testCase.id, $event)">
      </sqtm-core-editable-radio-button>
    </div>

    <div class="flex-row" *ngIf="isTableVisible(componentData)">
      <div [ngClass]="getTableClass(componentData)">
        <sqtm-core-label
          [text]="'sqtm-core.generic.label.priority.numeric' | translate">
        </sqtm-core-label>
        <sqtm-core-editable-text-field #automationRequestPriorityField
                                       [attr.data-test-field-id]="'test-case-automation-priority'"
                                       [size]="'small'"
                                       [editable]="editable"
                                       [value]="componentData.testCase.automationRequest.priority?.toString()"
                                       [layout]="'compact'"
                                       (confirmEvent)="changeAutomationRequestPriority(componentData.testCase.id, $event)">
        </sqtm-core-editable-text-field>

        <ng-container *ngIf="componentData.projectData.automationWorkflowType === 'NATIVE'">
          <sqtm-core-label
            [text]="'sqtm-core.generic.label.automation.status' | translate">
          </sqtm-core-label>
          <sqtm-core-editable-select-level-enum-field #autoRequestStatusField
            [attr.data-test-field-id]="'test-case-automation-request-status'"
            [size]="'small'"
            [layout]="'no-buttons'"
            [editable]="editable"
            [enumType]="'AutomationRequestStatus'"
            [excludedKeys]="['TRANSMITTED','AUTOMATION_IN_PROGRESS','REJECTED','AUTOMATED']"
            [selectedEnumItem]="componentData.testCase.automationRequest.requestStatus"
            (confirmEvent)="changeAutomationRequestStatus(componentData.testCase.id, $event)">
          </sqtm-core-editable-select-level-enum-field>
        </ng-container>

        <sqtm-core-label
          [text]="'sqtm-core.entity.test-case.uuid.label' | translate">
        </sqtm-core-label>
        <div class="flex-row">
          <p class="uuid-field"
             [attr.data-test-field-id]="'test-case-automation-uuid'"
             nz-tooltip [sqtmCoreLabelTooltip] nz-paragraph
             [(nzContent)]="componentData.testCase.uuid">
          </p>
          <p class="uuid-copy" nz-paragraph nzCopyable [nzCopyText]="componentData.testCase.uuid"
             [nzCopyIcons]="['sqtm-core-generic:copy', 'sqtm-core-generic:confirm']"></p>
        </div>

        <ng-container *ngIf="componentData.projectData.automationWorkflowType !== 'NATIVE'">
          <ng-container *ngIf="isTaServerJenkinsKind">
            <sqtm-core-label
              [text]="'sqtm-core.entity.test-case.script-auto' | translate">
            </sqtm-core-label>
            <sqtm-app-script-auto
              [testCaseViewComponentData]="componentData"></sqtm-app-script-auto>
          </ng-container>
          <ng-container *ngTemplateOutlet="technologySelectField"></ng-container>
          <ng-container *ngTemplateOutlet="scmRepoUrlSelectField"></ng-container>
          <ng-container *ngTemplateOutlet="automatedTestRefField"></ng-container>
        </ng-container>

        <ng-container *ngIf="componentData.projectData.automationWorkflowType !== 'NATIVE'">
          <sqtm-core-label
            [text]="'sqtm-core.entity.automation-request.transmitted-on' | translate">
          </sqtm-core-label>
          <span nz-tooltip [sqtmCoreLabelTooltip]
                [attr.data-test-field-id]="'test-case-automation-transmitted-on'">
          {{transmittedOn}}
        </span>
        </ng-container>
      </div>

      <div *ngIf="showSecondColumn(componentData)" class="automation-panel-grid-half">
        <sqtm-core-label
          [text]="'sqtm-core.generic.label.automation.status' | translate">
        </sqtm-core-label>
        <div>
          <span
            [attr.data-test-field-id]="'test-case-automation-remote-status'"
            *ngIf="componentData.testCase.automationRequest.extender"
            nz-tooltip [sqtmCoreLabelTooltip]>
            {{componentData.testCase.automationRequest.extender.remoteStatus}}
          </span>
          <span *ngIf="! componentData.testCase.automationRequest.extender">-</span>
        </div>

        <sqtm-core-label
          [text]="'sqtm-core.entity.test-case.automated' | translate">
        </sqtm-core-label>
        <span [attr.data-test-field-id]="'test-case-automation-automated'">
          {{isAutomated(componentData)}}
        </span>

        <sqtm-core-label
          [text]="'sqtm-core.entity.generic.url.label' | translate">
        </sqtm-core-label>
        <div class="automation-status-field">
          <a *ngIf="componentData.testCase.automationRequest.extender"
             [attr.data-test-field-id]="'test-case-automation-remote-request-url'"
             [href]="componentData.testCase.automationRequest.extender.remoteRequestUrl"
             [target]="'_blank'" nz-tooltip [sqtmCoreLabelTooltip]>
            {{componentData.testCase.automationRequest.extender.remoteIssueKey}}
          </a>
          <span *ngIf="! componentData.testCase.automationRequest.extender">-</span>

          <div *ngIf="shouldShowSyncErrorMessage(componentData.testCase.automationRequest.extender)">
            <span class="sync-error-message"
                  [attr.data-test-field-id]="'tc-automation-sync-error-message'">{{syncErrorMessage | translate}}</span>
            <i nz-icon
               nzType="sqtm-core-generic:help"
               nzTheme="outline"
               nz-tooltip
               [nzTooltipTitle]="syncErrorTooltip | translate"
               class="current-workspace-button tooltip-icon table-icon-size">
            </i>
          </div>
        </div>

        <sqtm-core-label
          [text]="'sqtm-core.entity.automation-request.assigned-to.label' | translate">
        </sqtm-core-label>
        <div>
          <span
            [attr.data-test-field-id]="'test-case-automation-assigned-to'"
            nz-tooltip [sqtmCoreLabelTooltip] *ngIf="componentData.testCase.automationRequest.extender">
            {{componentData.testCase.automationRequest.extender.remoteAssignedTo}}
          </span>
          <span *ngIf="! componentData.testCase.automationRequest.extender">-</span>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #defaultFields>
    <div class="automation-panel-grid">
      <ng-container *ngIf="isTaServerJenkinsKind">
        <sqtm-core-label
          [text]="'sqtm-core.entity.test-case.script-auto' | translate">
        </sqtm-core-label>
        <sqtm-app-script-auto
          [testCaseViewComponentData]="componentData"></sqtm-app-script-auto>
      </ng-container>
      <ng-container *ngTemplateOutlet="technologySelectField"></ng-container>
      <ng-container *ngTemplateOutlet="scmRepoUrlSelectField"></ng-container>
      <ng-container *ngTemplateOutlet="automatedTestRefField"></ng-container>
    </div>
  </ng-template>
</ng-container>

<ng-template #technologySelectField>
  <sqtm-core-label
    [text]="'sqtm-core.test-case-workspace.automation.automated-test-technology.label' | translate">
  </sqtm-core-label>
  <sqtm-core-editable-select-field
    #technologyField
    [options]="technologyOptions"
    [value]="componentData.testCase.automatedTestTechnology? componentData.testCase.automatedTestTechnology?.toString() : undefined"
    [editable]="editable"
    [allowEmptyValue]="true"
    [placeHolder]="'sqtm-core.generic.label.none.feminine' | translate"
    (confirmEvent)="changeAutomatedTestTechnology($event)"
    layout="no-buttons">
  </sqtm-core-editable-select-field>
</ng-template>

<ng-template #scmRepoUrlSelectField>
  <sqtm-core-label
    [text]="'sqtm-core.test-case-workspace.automation.source-code-repository-url.label' | translate">
  </sqtm-core-label>
  <sqtm-core-editable-select-field
    [sqtmCoreGenericViewEditableSelectField]="keys.scmRepositoryId"
    [options]="scmRepoUrlOptions"
    [allowEmptyValue]="true"
    [placeHolder]="'sqtm-core.generic.label.none.masculine' | translate"
    [editable]="editable"
    layout="no-buttons">
  </sqtm-core-editable-select-field>
</ng-template>

<ng-template #automatedTestRefField>
  <div class="flex-row overflow-hidden">
    <sqtm-core-label
      [text]="'sqtm-core.test-case-workspace.automation.automated-test-reference.label' | translate">
    </sqtm-core-label>
    <div (click)="toAutomDevopsExternalDocumentation()">
      <i nz-icon
         nzType="sqtm-core-generic:help"
         nzTheme="outline"
         class="current-workspace-button table-icon-size m-l-5">
      </i>
    </div>
  </div>
  <sqtm-core-editable-text-field
    [sqtmCoreGenericViewEditableTextField]="keys.automatedTestReference"
    [editable]="editable"
    layout="compact">
  </sqtm-core-editable-text-field>
</ng-template>
