<ng-container *ngIf="componentData">
  <div class="environment-variable-information-grid">
    <sqtm-core-label
    [text]="'sqtm-core.generic.label.code' | translate">
  </sqtm-core-label>
    <sqtm-core-editable-text-field
      [attr.data-test-field-id]="'environment-variable-code'"
      [required]="true"
      [sqtmCoreGenericViewEditableTextField]="'code'"
      layout="compact">
    </sqtm-core-editable-text-field>

    <sqtm-core-label
      [text]="'sqtm-core.entity.custom-field.input-type.label' | translate">
    </sqtm-core-label>
    <div>{{ translatedEnvironmentVariableType }}</div>
  </div>
</ng-container>
