<sqtm-core-customisable-dialog [titleKey]="configuration.titleKey" [dialogId]="configuration.id">
  <sqtm-core-dialog-body>
    <div class="flex-row body-content m-t-5">
      <ng-container [ngSwitch]="configuration.level">
        <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#1890FF'"></i>
        <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#FF0000'"></i>
        <i *ngSwitchCase="'WARNING'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
           [nzTwotoneColor]="'#FAAD14'"></i>
      </ng-container>
      <span [attr.data-test-dialog-message]="true" [innerHTML]="configuration.messageKey | translate"></span>
    </div>
  </sqtm-core-dialog-body>
  <sqtm-core-dialog-footer>
    <button
      [attr.data-test-dialog-button-id]="'confirm'"
      class="flex-fixed-size" nz-button nzType="primary"
      (click)="confirm()">{{'sqtm-core.generic.label.confirm' | translate}}</button>
    <button
      [attr.data-test-dialog-button-id]="'cancel'"
      class="flex-fixed-size m-l-10" nz-button nzType="default"
      sqtmCoreDialogClose>{{'sqtm-core.generic.label.cancel' | translate}}</button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>
