<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Squash Test Management</title>
  <!--  Setting the href dynamically with thymeleaf to match with servlet context -->
  <base href="" th:href="@{/}" id="sqtm-app-base-href">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <sqtm-app-root></sqtm-app-root>
</body>
</html>
