<ng-container>
  <nz-checkbox-wrapper
      *ngFor="let option of options"
      (nzOnChange)="handleWrapperClicked(option)">
    <label
        nz-checkbox
        class="checkbox-wrapper"
        [ngModel]="(value$ | async)[option.id]">
      {{ option.label }}
    </label>
  </nz-checkbox-wrapper>
</ng-container>
