.information-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.url-link {
  display: flex;
  align-items: center;
}

.icon {
  padding-bottom: 3px;
}
