<ng-container *ngIf="formGroup && field" [formGroup]="formGroup">
  <div [ngSwitch]="field.rendering.inputType.name">
    <sqtm-core-select-field
      *ngSwitchCase="TypeName.dropdown_list"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [options]="displayOptions"
      [showSearch]="filterPossibleValues">
    </sqtm-core-select-field>
    <sqtm-app-remote-autocomplete-text-field
      *ngSwitchCase="TypeName.text_field"
      [formGroup]="formGroup"
      [field]="field">
    </sqtm-app-remote-autocomplete-text-field>
    <sqtm-app-remote-autocomplete-text-field
      *ngSwitchCase="TypeName.unknown"
      [formGroup]="formGroup"
      [field]="field">
    </sqtm-app-remote-autocomplete-text-field>
    <sqtm-core-date-picker
      *ngSwitchCase="TypeName.date_picker"
      [formGroup]="formGroup"
      [fieldName]="field.id">
    </sqtm-core-date-picker>
    <sqtm-core-date-picker
      *ngSwitchCase="TypeName.date_time"
      [showTime]="true"
      [formGroup]="formGroup"
      [fieldName]="field.id">
    </sqtm-core-date-picker>
    <sqtm-core-text-area-field
      *ngSwitchCase="TypeName.text_area"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [rows]="8">
    </sqtm-core-text-area-field>
    <sqtm-app-remote-command-tag-field
      *ngSwitchCase="TypeName.tag_list"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [field]="field"
      [options]="displayOptions">
    </sqtm-app-remote-command-tag-field>
    <sqtm-app-remote-command-tag-field
      *ngSwitchCase="TypeName.free_tag_list"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [field]="field"
      [options]="displayOptions">
    </sqtm-app-remote-command-tag-field>
    <sqtm-core-radio-select-field
      *ngSwitchCase="TypeName.radio_button"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [options]="displayOptions">
    </sqtm-core-radio-select-field>
    <sqtm-core-cascading-select-field
      *ngSwitchCase="TypeName.option_with_child"
      [options]="cascadingSelectOptions"
      [formControl]="getFormControl(field)"
      [attr.data-test-field-name]="field.id">
    </sqtm-core-cascading-select-field>
    <sqtm-core-cascading-select-field
      *ngSwitchCase="TypeName.cascading_select"
      [options]="cascadingSelectOptions"
      [formControl]="getFormControl(field)"
      [attr.data-test-field-name]="field.id">
    </sqtm-core-cascading-select-field>
    <sqtm-core-checkbox-group-field
      *ngSwitchCase="TypeName.checkbox_list"
      [options]="checkboxOptions"
      [formControl]="getFormControl(field)"
      [attr.data-test-field-name]="field.id">
    </sqtm-core-checkbox-group-field>
    <sqtm-app-remote-command-tag-field
      *ngSwitchCase="TypeName.multi_select"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [field]="field"
      [options]="displayOptions">
    </sqtm-app-remote-command-tag-field>
    <sqtm-app-remote-attachment-field
      *ngSwitchCase="TypeName.file_upload"
      [attr.data-test-field-name]="field.id">
    </sqtm-app-remote-attachment-field>
    <label
      nz-checkbox ngDefaultControl
      *ngSwitchCase="TypeName.checkbox"
      [formGroup]="formGroup"
      [formControlName]="field.id"
      [attr.data-test-field-name]="field.id">
    </label>
    <sqtm-app-remote-combo-box-field
      *ngSwitchCase="TypeName.combo_box"
      [formGroup]="formGroup"
      [field]="field"
      [options]="displayOptions">
    </sqtm-app-remote-combo-box-field>
    <nz-tree-select
      class="full-width"
      *ngSwitchCase="TypeName.tree_select"
      [nzDefaultExpandAll]="true"
      [formGroup]="formGroup"
      [formControlName]="field.id"
      [nzNodes]="nzNodes"
      [nzAllowClear]="false">
    </nz-tree-select>
    <sqtm-core-rich-text-field
    *ngSwitchCase="TypeName.rich_text"
    [formGroup]="formGroup"
    [fieldName]="field.id"
    [reducedHeight]="false">
    </sqtm-core-rich-text-field>
    <sqtm-core-numeric-field
      *ngSwitchCase="TypeName.integer"
      [formGroup]="formGroup"
      [fieldName]="field.id"
      [step]="1"
      [precision]="0">
    </sqtm-core-numeric-field>
    <sqtm-core-numeric-field
      *ngSwitchCase="TypeName.decimal"
      [formGroup]="formGroup"
      [fieldName]="field.id">
    </sqtm-core-numeric-field>
    <span *ngSwitchDefault>-</span>
  </div>
</ng-container>
