<ng-container *ngIf="(componentData$ | async) as componentData">
  <div class="flex-row full-width">
    <div class="view-title">
      {{'sqtm-core.campaign-workspace.title.automated-suite'|translate}}
    </div>

  </div>
  <div #content class="full-width overflow-hidden flex-column sqtm-large-grid-container p-10"
       style="flex-grow: 1">
    <sqtm-core-grid class="full-width full-height"></sqtm-core-grid>
  </div>
</ng-container>
