<ng-container *ngIf="informationData">
  <div nz-tooltip [nzTooltipTitle]="getTooltipTitle(informationData)"
       class="capsule flex-row" [ngStyle]="getExecutionStatusBorder()">
    <div class="execution-status-badge" [ngStyle]="{'background-color': getIconColor(informationData.color)}"
         *ngIf="informationData.id !== ''"></div>
    {{getDisplayValue(informationData)}}
  </div>
</ng-container>
