:host {
  display: flex;
  width: 100%;
  height: 100%;
}

.not-found-container {
  max-width: 80%;
  width: auto;
}

.not-found-icon {
  font-size: 50px;
  opacity: 0.6;
  margin: auto 12px auto 0;
}

.not-found-message {
  font-size: 20px;
}

.not-found-details-link {
  text-decoration: underline;
  cursor: pointer;
}
