<div *ngIf="!edit"
     class="flex-row full-width text-area-border"
     [ngClass]="getComponentClasses()"
     (click)="enableEditMode()">
  <div class="field-value">{{ value }}</div>
</div>
<div *ngIf="edit"
     class="flex-column"
     style="align-items: center">
  <div class="flex-row full-width">
    <textarea
      #input
      nz-input
      [rows]="4"
      [(ngModel)]="editorData">
    </textarea>
  </div>
  <div *ngIf="mustShowButtons()"
       class="flex-row full-width"
       style="margin-top: 10px;">
    <button nz-button nzType="primary"
            [ngClass]="getConfirmButtonCss()"
            [nzLoading]="pending"
            (click)="confirm()">
      <i nz-icon [nzType]="'check'"></i>
      <ng-container *ngIf="mustShowButtonLabels()">
        {{ 'sqtm-core.generic.label.confirm' | translate | capitalize }}
      </ng-container>
    </button>
    <button nz-button nzType="default"
            [ngClass]="getCancelButtonCss()"
            [nzLoading]="pending"
            (click)="cancel()">
      <i nz-icon [nzType]="'close'"></i>
      <ng-container *ngIf="mustShowButtonLabels()">
        {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
      </ng-container>
    </button>
  </div>
</div>
