<ng-container *ngIf="componentData$ | async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'information'"
          [sqtmCoreAnchorCollapsePanel]="'information'"
          [nzHeader]="informationTitle">
          <ng-template #informationTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.generic.label.information.plural' | translate}}
            </div>
          </ng-template>
          <sqtm-app-test-automation-server-information-panel
            [componentData]="componentData">
          </sqtm-app-test-automation-server-information-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            [sqtmCoreAnchorPanel]="'authentication-protocol'"
            [sqtmCoreAnchorCollapsePanel]="'authentication-protocol'"
            [nzHeader]="authProtocolTitle">
          <ng-template #authProtocolTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.entity.server.auth-protocol.label' | translate}}
            </div>
          </ng-template>
          <sqtm-app-taserver-auth-protocol-panel
              [componentData]="componentData">
          </sqtm-app-taserver-auth-protocol-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            sqtmCoreAnchorLastPanel [isEffectiveLastPanel]="! componentData.testAutomationServer.supportsAutomatedExecutionEnvironments"
            [sqtmCoreAnchorPanel]="'authentication-policy'"
            [sqtmCoreAnchorCollapsePanel]="'authentication-policy'"
            [nzHeader]="authPolicyTitle">
          <ng-template #authPolicyTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.entity.server.auth-policy.label' | translate}}
            </div>
          </ng-template>
          <sqtm-app-taserver-auth-policy-panel
              [componentData]="componentData">
          </sqtm-app-taserver-auth-policy-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel"
                   *ngIf="componentData.testAutomationServer.supportsAutomatedExecutionEnvironments">
        <nz-collapse-panel
          [sqtmCoreAnchorPanel]="'environments'"
          [sqtmCoreAnchorCollapsePanel]="'environments'"
          [nzHeader]="environments">
          <ng-template #environments>
            <div class="entity-view-collapse-panel-title m-r-10">
              {{'sqtm-core.entity.server.environment.label.plural' | translate}}
            </div>
            <i nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
               nz-tooltip [nzTooltipTitle]="'sqtm-core.administration-workspace.servers.test-automation-servers.environments.tooltip' | translate"
               class="current-workspace-button tooltip-icon table-icon-size">
            </i>
          </ng-template>
          <sqtm-app-test-automation-server-environment-panel>
          </sqtm-app-test-automation-server-environment-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel"
                   *ngIf="componentData.testAutomationServer.supportsAutomatedExecutionEnvironments">
        <nz-collapse-panel
          sqtmCoreAnchorLastPanel
          [sqtmCoreAnchorPanel]="'environment-variables'"
          [sqtmCoreAnchorCollapsePanel]="'environment-variables'"
          [nzHeader]="environmentVariablesTitle"
          [nzExtra]="evGridButtons">
          <ng-template #environmentVariablesTitle>
            <div class="entity-view-collapse-panel-title m-r-10">
              {{'sqtm-core.administration-workspace.entities-customization.environment-variables.title' | translate}}
            </div>
            <i nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
               nz-tooltip [nzTooltipTitle]="'sqtm-core.administration-workspace.servers.test-automation-servers.environment-variables.tooltip' | translate"
               class="current-workspace-button tooltip-icon table-icon-size">
            </i>
          </ng-template>
          <sqtm-app-tas-environment-variables-panel
          (valueChanged)="bindEnvironmentVariable($event)">
          </sqtm-app-tas-environment-variables-panel>
        </nz-collapse-panel>
      </nz-collapse>

      <ng-template #evGridButtons>
        <div class="admin-view-panel-buttons">
          <div [attr.data-test-button-id]="'bind-environment-variable'">
            <i nz-icon nzType="sqtm-core-generic:add" nzTheme="outline"
               class="current-workspace-button action-icon-size"
               nz-tooltip
               [nzTooltipTitle]="'sqtm-core.administration-workspace.entities-customization.environment-variables.bind-many'|translate"
               nzTooltipPlacement="bottom"
               (click)="openEnvironmentVariableSelector($event)">
            </i>
          </div>
          <sqtm-core-toggle-icon [attr.data-test-button-id]="'unbind-environment-variable'"
                                 [active]="evGridService.hasSelectedRows$ | async">
            <i nz-icon nzType="sqtm-core-generic:unlink" nzTheme="outline"
               nz-tooltip class="action-icon-size"
               [nzTooltipTitle]="'sqtm-core.administration-workspace.entities-customization.environment-variables.unbind-many'|translate"
               nzTooltipPlacement="bottom"
               (click)="deleteEnvironmentVariableBindings($event)"></i>
          </sqtm-core-toggle-icon>
        </div>
      </ng-template>


      <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>

    </div>
  </div>
</ng-container>
