<nz-tag [@.disabled]="true" class="data-color" nz-popover nzPopoverPlacement="bottomLeft"
        [nzMode]="milestoneAllowModification(milestone) ? 'closeable': 'default'"
        [nzPopoverContent]="milestoneContent"
        *ngFor="let milestone of milestones"
        [ngClass]="'editable-tags'"
        (nzOnClose)="removeMilestone(milestone.id)">
  {{milestone.label}}
  <ng-template #milestoneContent>
    <div style="display: grid; grid-template-columns: max-content auto; grid-column-gap: 10px; max-width: 500px">
      <label>{{'sqtm-core.entity.generic.status.label' | translate}}</label><span>{{ 'sqtm-core.entity.milestone.status.' + milestone.status | translate}}</span>
      <label>{{'sqtm-core.entity.milestone.term.label' | translate}}</label><span>{{milestone.endDate | date:'shortDate': '': getBrowserLanguage()}}</span>
      <label>{{'sqtm-core.entity.generic.description.label' | translate}}</label>
      <div
        [innerHTML]="milestone.description | safeRichContent"></div>
    </div>
  </ng-template>
</nz-tag>
<i nz-icon class="current-workspace-button add-milestone-icon table-icon-size" [attr.data-test-button-id]="'open-milestone-dialog'" *ngIf="editable"
   (click)="openDialog()" [nzType]="'plus-circle'"></i>
