<div class="flex-column">
  <nz-select
    class="full-width"
    [nzShowArrow]="false"
    nzMode="multiple"
    [(ngModel)]="model"
    (ngModelChange)="confirm()"
    (nzFocus)="handleFocus()"
    [nzDisabled]="disabled"
  >
    <nz-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option"></nz-option>
    <nz-option *ngFor="let option of selectedTagsNotInOptions" [nzValue]="option" [nzLabel]="option" nzHide></nz-option>
  </nz-select>
</div>
