.information-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.creation-modification-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.print-execution-option {
  width: 36%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 6px;
  align-items: center;
  margin-bottom: 6px;
}
