<ng-container *ngIf="customExport">

  <div class="creation-modification-grid">
    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.creation.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'custom-export-created'"
      [userName]=" customExport.createdBy"
      [date]="customExport.createdOn">
    </sqtm-core-auditable-field>
    <sqtm-core-label
      [text]="'sqtm-core.entity.generic.modification.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
      [attr.data-test-field-id]="'custom-export-lastModified'"
      [userName]=" customExport.lastModifiedBy"
      [date]="customExport.lastModifiedOn">
    </sqtm-core-auditable-field>
  </div>

  <div class="information-grid">
    <sqtm-core-label
      [text]="'sqtm-core.generic.label.perimeter' | translate | capitalize">
    </sqtm-core-label>
    <div>{{customExport.scopeNodeName || 'sqtm-core.custom-report-workspace.custom-export.scope.deleted' | translate}}</div>
  </div>
  <sqtm-core-label
    class="m-b-6 m-t-8"
    [text]="'sqtm-core.custom-report-workspace.create-custom-export.workbench.label.selected-attributes' | translate">
  </sqtm-core-label>
  <div class="print-execution-option" [formGroup]="formGroup" *ngIf="formGroup">
    <sqtm-core-label
      [text]="'sqtm-core.custom-report-workspace.create-custom-export.workbench.label.select-print-exec-option' | translate">
    </sqtm-core-label>
    <sqtm-core-select-field [formGroup]="formGroup"
                            [fieldName]="'printExecutionOption'"
                            [options]="printExecutionOptions">
    </sqtm-core-select-field>
  </div>
  <label class="flex-column">
    <ng-container *ngFor="let column of identifiedColumns">
      <sqtm-app-custom-export-column-capsule
        [attr.data-test-component-id]="'columnField'"
        [column]="column"
        [showRemoveButton]="false"
        [showEntityName]="true">
      </sqtm-app-custom-export-column-capsule>
    </ng-container>
  </label>
</ng-container>
