<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel class="anchor" [nzHeader]="statisticsTitle" [sqtmCoreAnchorPanel]="'dashboard'"
                           [sqtmCoreAnchorCollapsePanel]="'dashboard'">
          <ng-template #statisticsTitle>
            <div class="flex-row full-width" style="justify-content: space-between; overflow: hidden">
              <div class="entity-view-collapse-panel-title">
                <span *ngIf="!componentData.campaignFolder.shouldShowFavoriteDashboard; else favoriteDashboardTitle">
                {{'sqtm-core.campaign-workspace.campaign-folder-page.statistics.blocks.stats' | translate}}
                </span>
                <ng-template #favoriteDashboardTitle>
                <span>
                  <ng-container *ngIf="componentData.campaignFolder.dashboard;else defaultDashboardName">
                    {{componentData.campaignFolder.dashboard.name}}
                  </ng-container>
                  <ng-template #defaultDashboardName>
                    <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                  </ng-template>
                </span>
                </ng-template>
              </div>
              <button *ngIf="!componentData.campaignFolder.shouldShowFavoriteDashboard; else defaultButton"
                      class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
                      nz-button [nzType]="'primary'" [nzSize]="'small'"
                      nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
                      (click)="displayFavoriteDashboard($event)">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
              </button>
              <ng-template #defaultButton>
                <button class="flex-fixed-size m-l-5"
                        [attr.data-test-component-id]="'default-button'"
                        nz-button [nzType]="'primary'" [nzSize]="'small'"
                        nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                        (click)="displayDefaultDashboard($event)">
                  {{'sqtm-core.generic.label.default' | translate}}
                </button>
              </ng-template>
            </div>
          </ng-template>
          <ng-container *ngIf="!componentData.campaignFolder.shouldShowFavoriteDashboard; else favoriteDashboardPanel">
            <div *ngIf="componentData.campaignFolder.campaignFolderStatisticsBundle; else loadingPanel"
                 class="full-width">
              <sqtm-app-campaign-statistics-charts-panel
                *ngIf="hasTestPlanItems(componentData.campaignFolder.campaignFolderStatisticsBundle.campaignTestCaseStatusStatistics); else noTestPlanItem"
                [statistics]="componentData.campaignFolder.campaignFolderStatisticsBundle"
                [disabledExecutionStatus]="componentData.projectData.disabledExecutionStatus"
                [scope]="getScope(componentData.campaignFolder)"></sqtm-app-campaign-statistics-charts-panel>
              <ng-template #noTestPlanItem>
                <div class="full-width flex-row" [attr.data-test-component-id]="'empty-test-plan-error'">
                  {{'sqtm-core.campaign-workspace.campaign-page.statistics.charts.no-test-plan-items.campaign'|translate}}
                </div>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #favoriteDashboardPanel>
            <div
              *ngIf="componentData.campaignFolder.dashboard && componentData.campaignFolder.canShowFavoriteDashboard; else noFavoriteDashBoard"
              style="height: 84vh" class="full-width">
              <ng-container *ngIf="componentData.campaignFolder.dashboard.chartBindings.length !== 0 ||
              componentData.campaignFolder.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
                <sqtm-app-custom-dashboard
                  [chartBindings]="getChartBindings(componentData.campaignFolder.dashboard)"></sqtm-app-custom-dashboard>
              </ng-container>
              <ng-template #emptyDashboardMessage>
                <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
              </ng-template>
            </div>
          </ng-template>
          <ng-template #noFavoriteDashBoard>
            <div style="height: 84vh; text-align: center">
                <span style="font-weight: 600">
                  {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}
                </span>
            </div>
          </ng-template>
        </nz-collapse-panel>

        <nz-collapse-panel class="anchor" *ngIf="!componentData.campaignFolder.shouldShowFavoriteDashboard"
                           [nzHeader]="inventoryTitle" [nzActive]="true">
          <ng-template #inventoryTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.campaign-workspace.campaign-folder-page.statistics.blocks.inventory' | translate}}
            </div>
          </ng-template>
          <div *ngIf="componentData.campaignFolder.campaignFolderStatisticsBundle; else loadingPanel"
               class="full-width">
            <sqtm-app-campaign-folder-inventory
              [inventory]="componentData.campaignFolder.campaignFolderStatisticsBundle.campaignTestInventoryStatisticsList"
              [disabledExecutionStatus]="componentData.projectData.disabledExecutionStatus"
            ></sqtm-app-campaign-folder-inventory>
          </div>

          <ng-template #loadingPanel>
            <div class="full-width">
              <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
            </div>
          </ng-template>
        </nz-collapse-panel>

        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           [nzHeader]="informationTitle" sqtmCoreAnchorLastPanel class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.generic.label.information.plural' | translate}}</div>
          </ng-template>
          <div class="campaign-information-grid">
            <sqtm-core-label
              [text]="'sqtm-core.entity.generic.description.label' | translate">
            </sqtm-core-label>
            <sqtm-core-editable-rich-text [size]="'default'"
                                          [border]="true"
                                          [focus]="true"
                                          class="campaign-grid-group-three-column"
                                          [sqtmCoreEntityViewEditableRichTextField]="'description'"
                                          [placeholder]="'sqtm-core.generic.editable.description.placeholder'|translate">
            </sqtm-core-editable-rich-text>

            <ng-container *ngFor="let cfd of customFieldData; trackBy: trackCfd">
              <sqtm-core-label class="campaign-grid-first-column"
                               [text]="cfd.label">
              </sqtm-core-label>
              <div class="campaign-grid-group-three-column">
                <sqtm-core-custom-field-widget
                  [sqtmCoreEntityCustomField]="cfd"
                  [attr.data-test-customfield-id]="cfd.name">
                </sqtm-core-custom-field-widget>
              </div>
            </ng-container>
          </div>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>


