<ng-container [ngSwitch]="currentLayout$ | async">

  <ng-container *ngTemplateOutlet="tokenSection"></ng-container>

  <ng-container *ngSwitchCase="Layout.LOADING">
    <ng-container *ngTemplateOutlet="loading"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="Layout.ERROR">
    <ng-container *ngTemplateOutlet="errorMessage"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="Layout.NO_CREDENTIALS">
    <ng-container *ngTemplateOutlet="noCredentialsMessage"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="Layout.READY">
    <ng-container *ngTemplateOutlet="mainPanel"></ng-container>
  </ng-container>
</ng-container>

<ng-template #tokenSection>
  <div class="two-cols-grid center-items"
       *ngIf="state$ | async as state">
    <ng-container *ngIf="isTokenFieldVisible$ | async">
      <div class="flex-row">
        <sqtm-core-label
          [text]="'sqtm-core.administration-workspace.bugtrackers.authentication-policy.credentials.token' | translate">
        </sqtm-core-label>
        <i nz-icon
           nzType="sqtm-core-generic:help"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="tokenTooltip$ | async | translate"
           class="current-workspace-button m-l-5 table-icon-size">
        </i>
      </div>
      <div class="flex-row">
        <sqtm-core-editable-text-field
          class="token-field"
          #tokenField
          [isObfuscated]="true"
          [layout]="'compact'"
          (confirmEvent)="handleTokenConfirm($event)"
          [attr.data-test-component-id]="'token-field'">
        </sqtm-core-editable-text-field>
        <i *ngIf="isResetTokenButtonVisible$ | async"
           class="table-icon-size reset-tags-button __hover_pointer"
           nz-icon
           nzType="sqtm-core-administration:synchronize"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.administration-workspace.views.project.automation.environments.clear-token-tooltip'|translate"
           [attr.data-test-toolbar-button-id]="'reset-token-button'"
           (click)="handleClearTokenButtonClicked($event)">
        </i>
      </div>
      <div *ngIf="isTokenModificationWarningVisible(state$ | async)" class="full-row m-t-0">
        <span style="color: red">{{I18nKeys.CHANGE_TOKEN_WARNING|translate}}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="true">
      <div class="flex-row">
        <sqtm-core-label
          [text]="environmentTagsLabel">
        </sqtm-core-label>
        <i *ngIf="selectInputTooltip"
           nz-icon
           nzType="sqtm-core-generic:help"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="selectInputTooltip"
           class="current-workspace-button m-l-5 table-icon-size">
        </i>
      </div>
      <div class="flex-row">
        <sqtm-core-editable-tag-list-field
          class="flex-grow-shrink"
          [value]="state.selectedTags"
          [options]="state.availableEnvironmentTags"
          [disabled]="isTagInputDisabled$ | async"
          (nzFocus)="handleTagsFieldFocus()"
          (confirmEvent)="updateEnvironmentTags($event)"
          [attr.data-test-component-id]="'selected-environment-tags'">
        </sqtm-core-editable-tag-list-field>
        <i *ngIf="isResetTagsButtonVisible$ | async"
           class="table-icon-size reset-tags-button __hover_pointer"
           nz-icon
           nzType="sqtm-core-administration:synchronize"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.administration-workspace.views.project.automation.reset-default-env-tags'|translate"
           [attr.data-test-toolbar-button-id]="'reset-tags-button'"
           (click)="handleResetButtonClicked($event)">
        </i>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #mainPanel>
  <div class="m-t-15">
    <div class="m-10 __hover_pointer" (click)="toggleAvailableEnvironmentsPanelVisibility()">
      <ng-container *ngIf="isAvailableEnvironmentsPanelExpanded; else expandIcon">
        <i nz-icon nzType="caret-down" nzTheme="fill"></i>
      </ng-container>
      <ng-template #expandIcon><i nz-icon nzType="caret-right" nzTheme="fill"></i></ng-template>
      <span class="collapse-header m-l-10">{{I18nKeys.AVAILABLE_ENVIRONMENTS | translate}}</span>
    </div>
    <ng-container *ngIf="isAvailableEnvironmentsPanelExpanded">
      <ng-container *ngIf="noMatchingEnvironments$ | async; else environmentGrid">
        <ng-container *ngIf="tagHolderType !== 'EXECUTION_DIALOG'; else noMatchingEnvironmentForExecutionDialog">
          <span [attr.data-test-component-id]="'no-matching-environment'">
            {{I18nKeys.NO_MATCHING_ENVIRONMENT | translate}}
          </span>
        </ng-container>
        <ng-template #noMatchingEnvironmentForExecutionDialog>
          <span class="error-message"
                [attr.data-test-component-id]="'no-matching-environment-execution-dialog'">
              {{I18nKeys.NO_MATCHING_ENVIRONMENT_IN_EXECUTION_DIALOG | translate}}
          </span>
        </ng-template>
      </ng-container>

      <ng-template #environmentGrid>
        <sqtm-core-grid></sqtm-core-grid>
      </ng-template>
    </ng-container>
  </div>
</ng-template>

<ng-template #noCredentialsMessage>
  <span [attr.data-test-component-id]="'missing-credentials-message'">
    {{ missingCredentialsMessage$ | async | translate }}
  </span>
</ng-template>

<ng-template #loading>
  <div class="full-height full-width">
    <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
  </div>
</ng-template>

<ng-template #errorMessage>
  <span class="error-message" [attr.data-test-component-id]="'load-environments-error-message'">
    {{ I18nKeys.ERROR | translate }}
  </span>
</ng-template>
