.color-badge {
  width: 20px;
  height: 20px;
  border: #c1c0c0 solid 1px;
  cursor: pointer;
}

::ng-deep .arrow {
  display: none;
}

.color-selector-container {
  justify-content: center;
  align-items: center;
}

.reset-button {
  font-size: 14px;
  position: absolute;
  top: 3px;
  right: -18px;
}
