.loading-overlay {
  position: absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 10;
  pointer-events: none;
}

.loading {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.creation-modification-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.report-definition-information-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: flex-start;
}
