<ng-container *ngIf="componentData">
  <div class="user-authentication-grid">
    <div class="label-color m-t-5">
      <span [innerHTML]="translateKeys.userAuthenticationLabel | translate" class="m-r-10">
      </span>

      <i nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
         nz-tooltip [nzTooltipTitle]="translateKeys.userAuthenticationTooltip | translate"
         class="current-workspace-button tooltip-icon table-icon-size">
      </i>
    </div>
    <sqtm-core-multiple-radio-button
        (itemSelectionChanged)="handleAuthPolicyChange($event)"
      [listItems]="radioItems">
    </sqtm-core-multiple-radio-button>
  </div>

  <label class="label-color flex-row m-t-10">
    <span class="m-r-10">{{translateKeys.credentialsLabel | translate}}</span>

    <i nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
       nz-tooltip [nzTooltipTitle]="getCredentialsTooltip(componentData.bugTracker.kind) | translate"
       class="current-workspace-button tooltip-icon table-icon-size">
    </i>
  </label>

  <div class="block-border p-l-10 m-t-8">
    <sqtm-core-third-party-credentials-form
      [authenticationProtocol]="componentData.bugTracker.authProtocol"
      [credentials]="componentData.bugTracker.credentials"
      [useRevokeButton]="true"
      [useRemoveButton]="true"
      (submit)="sendCredentialsForm($event)"
      (revokeTokens)="deleteCredentials(componentData.bugTracker)" >
    </sqtm-core-third-party-credentials-form>

    <div class="flex-row">
      <div class="flex-row" style="align-items: center;">
        <ng-container [ngSwitch]="statusIcon">
          <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#1890FF'"></i>
          <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#FF0000'"></i>
        </ng-container>
        <b [attr.data-test-component-id]="'status-message'">
          {{credentialsStatusMessage | translate}}
        </b>
      </div>
    </div>
  </div>
</ng-container>
