<div class="container-background-color overlay-field container-border-color p-10" [sqtmCoreWorkspace]="workspace" [localTheme]="true">
  <sqtm-core-multiple-radio-button [selectionRequired]="false" [listItems]="items" (itemSelectionChanged)="changeSelection($event)">
  </sqtm-core-multiple-radio-button>
</div>
