<div class="icon-container container-background-color">
  <i *ngFor="let icon of icons"
     class="m-2 table-icon-size icon"
     [class.selected]="icon === selectedIcon"
     nz-icon
     [nzType]="icon"
     nzTheme="outline"
     (click)="handleClick(icon)">
  </i>
</div>
