<ng-container>
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>

      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel
            [sqtmCoreAnchorPanel]="'information'"
            [sqtmCoreAnchorCollapsePanel]="'information'"
            [nzHeader]="informationTitle">
          <ng-template #informationTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.generic.label.information.plural' | translate}}
            </div>
          </ng-template>
          <sqtm-app-user-account-information-panel>
          </sqtm-app-user-account-information-panel>
        </nz-collapse-panel>

        <nz-collapse-panel
            [sqtmCoreAnchorPanel]="'permissions'"
            [sqtmCoreAnchorCollapsePanel]="'permissions'"
            [nzHeader]="permissionsTitle"
            sqtmCoreAnchorLastPanel
            [isEffectiveLastPanel]="! (hasBugTrackerCredentials$ | async)">
          <ng-template #permissionsTitle>
            <div class="entity-view-collapse-panel-title">
              {{'sqtm-core.entity.user.authorisation.plural' | translate}}
            </div>
          </ng-template>
          <sqtm-app-user-account-permissions-panel>
          </sqtm-app-user-account-permissions-panel>
        </nz-collapse-panel>

        <ng-container *ngIf="hasBugTrackerCredentials$ | async as hasBugTrackerCredentials">
          <nz-collapse-panel
              [sqtmCoreAnchorPanel]="'bugtrackers'"
              [sqtmCoreAnchorCollapsePanel]="'bugtrackers'"
              [nzHeader]="bugtrackersTitle"
              sqtmCoreAnchorLastPanel
              [isEffectiveLastPanel]="hasBugTrackerCredentials">
            <ng-template #bugtrackersTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.entity.user.account.bug-trackers-configuration' | translate}}
              </div>
            </ng-template>
            <sqtm-app-user-account-bugtrackers-configuration-panel>
            </sqtm-app-user-account-bugtrackers-configuration-panel>
          </nz-collapse-panel>
        </ng-container>
      </nz-collapse>

      <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
    </div>
  </div>
</ng-container>
