<ng-container *ngIf="componentData$ | async as componentData; else loading">
  <div class="full-height full-width overflow-hidden flex-column">
    <div class="admin-workspace-secondary-title">
      {{'sqtm-core.administration-workspace.system.cleaning.title.short' | translate}}
    </div>
    <div class="full-width full-height">
      <div class="full-width full-height p-r-15" style="overflow-y: auto">
        <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
          <nz-collapse-panel
            [nzActive]="true"
            [nzHeader]="logsTitle">
            <ng-template #logsTitle>
              <div class="entity-view-collapse-panel-title">
                {{'sqtm-core.administration-workspace.system.cleaning.title.long' | translate}}
              </div>
            </ng-template>
            <sqtm-app-system-cleaning-panel
            [componentData]="componentData">
            </sqtm-app-system-cleaning-panel>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>



