<ng-container *ngIf="isEditable; else readonlyForm">
  <div class="form-grid p-b-10" *ngIf="formGroup" [formGroup]="formGroup">
    <ng-container *ngFor="let field of currentScheme$ | async">
      <ng-container *ngIf="isFieldVisible(field)">
        <div class="flex-row">
          <sqtm-core-label [text]="getLabelForField(field)">
          </sqtm-core-label>
          <ng-container *ngIf="getHelpMessageForField(field) != null">
            <i nz-icon [nzType]="'sqtm-core-generic:help'"
               nz-tooltip [nzTooltipTitle]="getHelpMessageForField(field)"
               class="tooltip-icon table-icon-size m-l-10 current-workspace-button"
            ></i>
          </ng-container>
        </div>

        <sqtm-app-remote-issue-widget
          [field]="field"
          [formGroup]="formGroup">
        </sqtm-app-remote-issue-widget>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<div class="modal-overlay modal-overlay-loading" *ngIf="asyncMode">
  <i nz-icon nzType="loading" nzTheme="outline" class="m-auto"></i>
</div>

<ng-template #readonlyForm>
  <div class="form-grid p-b-10">
    <ng-container *ngIf="remoteIssueService.searchResultLoaded$ | async">
      <sqtm-core-label
          [text]="'sqtm-core.campaign-workspace.remote-issue.report-dialog.remote-project.label' | translate">
      </sqtm-core-label>
      <span>{{(remoteIssueService.state$|async).remoteProjectName}}</span>

      <ng-container *ngFor="let field of currentScheme$ | async">
        <ng-container *ngIf="isFieldVisible(field)">
          <sqtm-core-label [text]="getLabelForField(field)"></sqtm-core-label>
          <span [ngClass]="isHTMLField(field)? '' : 'read-only-field'"
                [innerHTML]="getReadonlyValueForField(field) | safeRichContent"></span>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
