<ng-container *ngIf="componentData">
  <div class="milestone-information-grid">
    <sqtm-core-label
        [text]="'sqtm-core.entity.milestone.end-date.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-date-field
        [editable]="componentData.milestone.canEdit"
        [sqtmCoreGenericViewEditableDateField]="'endDate'"
        [attr.data-test-field-id]="'milestone-end-date'"
        layout="compact">
    </sqtm-core-editable-date-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.creation.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
        [attr.data-test-field-id]="'milestone-created'"
        [userName]="componentData.milestone.createdBy"
        [date]="componentData.milestone.createdOn">
    </sqtm-core-auditable-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.milestone.status.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-select-level-enum-field
        #statusField
        [editable]="componentData.milestone.canEdit"
        [enumType]="'MilestoneStatus'"
        [attr.data-test-field-id]="'milestone-status'"
        [selectedEnumItem]="componentData.milestone.status"
        (confirmEvent)="handleStatusChange($event)"
        layout="no-buttons">
    </sqtm-core-editable-select-level-enum-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.modification.label' | translate">
    </sqtm-core-label>
    <sqtm-core-auditable-field
        [attr.data-test-field-id]="'milestone-modified'"
        [userName]="componentData.milestone.lastModifiedBy"
        [date]="componentData.milestone.lastModifiedOn">
    </sqtm-core-auditable-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.milestone.range.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-select-level-enum-field
        #rangeField
        [editable]="loggedAsAdmin$ | async"
        [layout]="'no-buttons'"
        [enumType]="'MilestoneRange'"
        [selectedEnumItem]="componentData.milestone.range"
        (confirmEvent)="setRange($event.id)"
        [attr.data-test-field-id]="'milestone-range'">
    </sqtm-core-editable-select-level-enum-field>

    <div class="col-spacer"></div>

    <sqtm-core-label
        [text]="'sqtm-core.entity.milestone.owner.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-searchable-select-field
        *ngIf="componentData.milestone.range === 'RESTRICTED'; else adminOwner"
        #ownerField
        [value]="componentData.milestone.ownerLogin"
        (confirmEvent)="handleOwnerChange($event)"
        [editable]="canEditOwnerField$ | async"
        [options]="ownerOptions"
        [placeholder]="'sqtm-core.entity.milestone.owner.label' | translate"
        [layout]="'compact'"
        [attr.data-test-field-id]="'milestone-owner'">
    </sqtm-core-editable-searchable-select-field>

    <ng-template #adminOwner>
            <span [attr.data-test-field-id]="'milestone-owner'">
                {{'sqtm-core.generic.label.administrator' | translate }}
            </span>
    </ng-template>

    <div class="col-spacer"></div>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.description.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-rich-text
        class="colspan-field"
        [focus]="true"
        [editable]="componentData.milestone.canEdit"
        [attr.data-test-field-id]="'milestone-description'"
        [sqtmCoreGenericViewEditableRichTextField]="'description'">
    </sqtm-core-editable-rich-text>
  </div>
</ng-container>
