<ng-container *ngIf="componentData$| async as componentData">
  <sqtm-core-workspace-with-grid
    [licenseInformation]="referentialDataService.licenseInformation$ | async"
    [licenseBannerPlacement]="'WORKSPACES'"
    [isLoggedAsAdmin]="referentialDataService.isAdmin() | async"
    [workspaceTheme]="'automation-workspace'"
    [name]="'automation-programmer-workspace'"
    [rootUrl]="['automation-workspace', 'automation-programmer-workspace', 'assignee']"
    [entityIdPositionInUrl]="3">
    <sqtm-core-nav-bar class="full-height" projection="navBar"></sqtm-core-nav-bar>
    <div projection="grid" class="flex-column full-height full-width overflow-hidden p-r-10 p-b-10">
      <div class="full-height full-width overflow-hidden flex-column">
        <sqtm-app-automation-workspace-header
          [helpI18NKey]="'sqtm-core.automation-workspace.programmer-view.assign-to-me.help'"
          [mainTitleI18NKey]="'sqtm-core.automation-workspace.programmer-view.title'"
          [tableNameI18NKey]="'sqtm-core.automation-workspace.programmer-view.assign-to-me.label'">

          <div *ngIf="shouldShowResetFilterLink(activeFilters$ | async)" projection="reset-filter-button">
            <sqtm-core-reset-filters-link (resetFiltersLinkPressed)="resetFilters()"></sqtm-core-reset-filters-link>
          </div>

          <div projection="automation-button-action" class="panel-buttons" [attr.data-test-toolbar-id]="'assignee-toolbar'">
            <sqtm-core-toggle-icon [attr.data-test-toolbar-button-id]="'unassign'"
                                   (clickedInActiveMode)="unAssignAutomationRequest()"
                                   [active]="canEditRows$ | async">
              <i nz-icon nzType="sqtm-core-automation:unassigned" class="action-icon-size"
                 nz-tooltip [nzTooltipTitle]="'sqtm-core.automation-workspace.button.unassign.label' | translate"
              ></i>
            </sqtm-core-toggle-icon>

            <div class="buttons-separator"></div>

            <sqtm-core-toggle-icon [attr.data-test-toolbar-button-id]="'automated'"
                                   (clickedInActiveMode)="changeToAutomatedStatus()"
                                   [active]="canEditRows$ | async">
              <i nz-icon nzType="sqtm-core-automation:automated" class="action-icon-size m-r-5"
                 nz-tooltip [nzTooltipTitle]="'sqtm-core.entity.automation-request.status.AUTOMATED' | translate"
              ></i>
            </sqtm-core-toggle-icon>

            <span class="font-20-px" nz-dropdown [nzDropdownMenu]="actionMenu" [nzPlacement]="'bottomCenter'">
                    <i nz-icon nzType="sqtm-core-generic:more" nzTheme="outline"></i>
                  </span>
            <nz-dropdown-menu #actionMenu="nzDropdownMenu">
              <ul nz-menu [attr.data-test-menu-id]="'action-menu'">
                <li nz-menu-item
                    [nzDisabled]="!(canEditRows$ | async)"
                    [attr.data-test-menu-item-id]="'automation-in-progress'"
                    (click)="automRequestInProgress()">
                  {{ ('sqtm-core.entity.automation-request.status.AUTOMATION_IN_PROGRESS' | translate) }}
                </li>
                <li nz-menu-item
                    [nzDisabled]="!(canEditRows$ | async)"
                    [attr.data-test-menu-item-id]="'rejected'"
                    (click)="rejectAutomRequest()">
                  {{ ('sqtm-core.entity.automation-request.status.REJECTED' | translate) }}
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </sqtm-app-automation-workspace-header>
        <div class="flex-row full-width full-height">
          <sqtm-app-automation-workspace-anchors></sqtm-app-automation-workspace-anchors>
          <div class="full-height full-width overflow-hidden sqtm-large-grid-container p-10 m-l-10">
            <ng-container *ngIf="componentData.loaded;else loading">
              <sqtm-core-grid *ngIf="componentData.nbAssignedAutomReq >0; else noAutomReqAssignee"></sqtm-core-grid>
              <ng-template #noAutomReqAssignee>
                <div>
                <span class="m-r-10"
                      style="font-weight: bold">{{'sqtm-core.automation-workspace.programmer-view.assign-to-me.no-assignee'| translate}}</span>
                  <button nz-button
                          nzType="primary"
                          [routerLink]="'../treat'">{{'sqtm-core.automation-workspace.button.assigned-none.label' | translate}}</button>
                </div>
              </ng-template>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </sqtm-core-workspace-with-grid>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
