.no-border {
  border-style: hidden !important;
}

.ant-btn-icon-only > i {
  vertical-align: text-top;
}

[nz-radio] {
  display: block;
  height: 32px;
  line-height: 32px;
}

.spacer {
  border-bottom: 1px solid var(--container-border-color);
  height: 10px;
}

.parent-milestone-container-state {
  text-align: center;

  .milestone-container-state {
    background: var(--current-workspace-main-color);
    color: white;
    border-radius: 5px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;

    i {
      font-size: 18px;
      color: white;
      opacity: 0.7;
      margin-right: 7px;
      display: inline-table;
    }

    span {
      font-size: 15px;
      font-weight: 500;
      display: inline-table;
    }
  }
}
