.form-grid {
  min-width: 200px;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
}

.full-row {
  grid-column-start: 1;
  grid-column-end: -1;
}

::ng-deep .password-field {
  input::placeholder {
    color: black;
  }

  input:focus::placeholder {
    color: transparent;
  }
}
