<div [formGroup]="formGroup" class="form-grid" *ngIf="authenticationProtocol && formGroup">
  <ng-container *ngIf="isFormVisible">
    <ng-container *ngIf="! isTokenAuth">
      <sqtm-core-label [text]="loginTranslateKey | translate">
      </sqtm-core-label>
      <sqtm-core-text-field
        [fieldName]="'username'"
        [formGroup]="formGroup"
        [attr.data-test-field-id]="'credentials-username'"
        (inputFocused)="handleFieldFocused($event)"
        (inputBlurred)="handleFieldBlurred($event)">
      </sqtm-core-text-field>
    </ng-container>

    <sqtm-core-label [text]="passwordTranslateKey | translate">
    </sqtm-core-label>
    <sqtm-core-text-field
      [fieldName]="'password'"
      [formGroup]="formGroup"
      [placeholder]="passwordPlaceholder"
      (inputFocused)="handleFieldFocused($event)"
      (inputBlurred)="handleFieldBlurred($event)"
      inputType="password"
      class="password-field">
    </sqtm-core-text-field>
  </ng-container>

  <div *ngIf="shouldShowModificationWarning" class="full-row flex-row">
    <span style="color: red">{{customModificationWarning}}</span>
  </div>

  <div class="full-row flex-row">
    <div class="m-auto">
      <button *ngIf="isSubmitButtonVisible"
              class="flex-fixed-size ant-btn ant-btn-primary" nz-button
              [nzLoading]="asyncMode$ | async"
              [disabled]="! formGroup.dirty"
              (click)="handleSubmit()"
              [attr.data-test-component-id]="'save-credentials-button'">
        {{'sqtm-core.generic.label.save' | translate}}
      </button>
      <button *ngIf="isRevokeButtonVisible"
              class="flex-fixed-size ant-btn ant-btn-primary m-l-8" nz-button
              [disabled]="! isRevokeOrRemoveButtonEnabled"
              (click)="handleRevoke()"
              [attr.data-test-component-id]="'revoke-credentials-button'">
        {{'sqtm-core.administration-workspace.servers.label.revoke-tokens' | translate}}
      </button>
      <button *ngIf="isRemoveCredentialsVisible"
              class="flex-fixed-size ant-btn ant-btn-primary m-l-8" nz-button
              [disabled]="! isRevokeOrRemoveButtonEnabled"
              (click)="handleRevoke()"
              [attr.data-test-component-id]="'remove-credentials-button'">
        {{'sqtm-core.administration-workspace.servers.label.remove-credentials' | translate}}
      </button>
    </div>
  </div>
</div>
