<div class="form-grid m-b-10" *ngIf="formGroup" [formGroup]="formGroup">
  <ng-container *ngFor="let field of searchForm.fields">
    <sqtm-core-label [text]="field.label | translate">
    </sqtm-core-label>
    <sqtm-app-remote-issue-widget
      [attr.data-test-component-id]="field.id"
      [formGroup]="formGroup"
      [field]="field">
    </sqtm-app-remote-issue-widget>
  </ng-container>
</div>
<div class="flex-row full-width m-t-6 m-b-15">
  <button nz-button nzType="primary"
          class="m-auto"
          (click)="searchForIssue()"
          [nzLoading]="loading"
          [attr.data-test-component-id]="'search-button'">
    {{'sqtm-core.generic.label.research' | translate}}
  </button>
</div>
<ng-container *ngIf="!loading && foundRemoteIssue == null && !errorMessage">
  {{'sqtm-core.generic.label.no-result' | translate}}
</ng-container>

<div *ngIf="errorMessage" class="error-message m-t-6 m-b-10">
  {{ errorMessage }}
</div>
