<ng-container *ngIf="componentData">
  <div class="two-columns-grid">
    <div class="label-with-tooltip-icon">
      <sqtm-core-label
        [text]="'sqtm-core.generic.label.login.plural' | translate">
      </sqtm-core-label>
      <i nz-icon nzType="sqtm-core-generic:help" nzTheme="fill"
         class="m-l-10 font-20-px current-workspace-main-color"
         nz-tooltip [nzTooltipTitle]="'sqtm-core.administration-workspace.system.settings.case-sensitivity.logins.tooltip' | translate"></i>
    </div>


    <nz-switch *ngIf="!checkIdDuplicateLogins()"
               [(ngModel)]="componentData.caseInsensitiveLogin"
               [nzControl]="true"
               [nzCheckedChildren]="checkedTemplate"
               [nzUnCheckedChildren]="unCheckedTemplate"
               [attr.data-test-field-id]="'caseInsensitiveLogin'"
               (click)="changeCaseInsensitiveLoginEnabled()">
    </nz-switch>

    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>

    <span *ngIf="checkIdDuplicateLogins()">
      {{'sqtm-core.administration-workspace.system.settings.duplicate-logins.alert-message' | translate}}
    </span>

    <div *ngIf="checkIdDuplicateLogins()" class="padded-block">
      <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.system.settings.duplicate-logins.label' | translate">
      </sqtm-core-label>
      <div>
        <label *ngFor="let login of componentData.duplicateLogins" class="login">
          {{login}}
        </label>
      </div>

    </div>
  </div>


  <div class="two-columns-grid p-t-5">
    <div class="label-with-tooltip-icon">
      <sqtm-core-label [text]="'sqtm-core.entity.test-step.action.plural' | translate"></sqtm-core-label>
      <i nz-icon nzType="sqtm-core-generic:help" nzTheme="fill"
         class="m-l-10 font-20-px current-workspace-main-color"
         nz-tooltip [nzTooltipTitle]="'sqtm-core.administration-workspace.system.settings.case-sensitivity.actions.tooltip' | translate">
      </i>
    </div>

    <nz-switch *ngIf="!checkHasDuplicateActions()"
               [(ngModel)]="componentData.caseInsensitiveActions"
               [nzControl]="true"
               [nzCheckedChildren]="checkedTemplate"
               [nzUnCheckedChildren]="unCheckedTemplate"
               [attr.data-test-field-id]="'caseInsensitiveActions'"
               (click)="changeCaseInsensitiveActionsEnabled()">
    </nz-switch>

    <span *ngIf="checkHasDuplicateActions()">
      {{'sqtm-core.administration-workspace.system.settings.duplicate-actions.alert-message' | translate}}
    </span>

    <div *ngIf="checkHasDuplicateActions()" class="padded-block">
      <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.system.settings.duplicate-actions.label' | translate">
      </sqtm-core-label>
      <div>
        <label *ngFor="let action of componentData.duplicateActions" class="login">
          {{action}}
        </label>
      </div>
    </div>
  </div>

</ng-container>
