<sqtm-core-entity-view-wrapper>
  <ng-container *ngIf="componentData$ | async as componentData">
    <ng-container *ngIf="componentData.execution.executionMode === 'AUTOMATED'; else executionPage">
      <sqtm-app-automated-execution-page class="full-width" (executionDeleted)="back()">
        <sqtm-core-back-button
            class="m-t-6"
            (buttonPressed)="back()">
        </sqtm-core-back-button>
      </sqtm-app-automated-execution-page>
    </ng-container>
  </ng-container>
</sqtm-core-entity-view-wrapper>

<ng-template #executionPage>
  <sqtm-app-execution-page class="full-width" (executionDeleted)="back()">
    <sqtm-core-back-button
        class="m-t-6"
        (buttonPressed)="back()">
    </sqtm-core-back-button>
  </sqtm-app-execution-page>
</ng-template>
