<div class="full-width" [formGroup]="formGroup" [attr.data-test-field-name]="fieldName">
  <ng-template #suffixIcon>
    <i *ngIf="showClearButton; else searchIcon"
       nz-icon nzTheme="fill" nzType="close-circle"
       class="input-button"
       (click)="clearInputAndShowList()"></i>
    <ng-template #searchIcon>
      <i nz-icon nzType="search"
         class="input-button"></i>
    </ng-template>
  </ng-template>
  <nz-input-group [nzSuffix]="showSearchIcon ? suffixIcon : undefined" [nzSize]="size" *ngIf="showSearchIcon; else input">
    <ng-container *ngTemplateOutlet="input"></ng-container>
  </nz-input-group>
  <ng-template #input>
      <input
        #textInput
        [formControlName]="fieldName"
        nz-input
        [nzAutocomplete]="autocomplete"
        [type]="inputType"/>
  </ng-template>
  <nz-autocomplete #autocomplete [nzDataSource]="visibleOptionLabels">
  </nz-autocomplete>
  <div class="has-error" *ngFor="let error of errors">
        <span [attr.data-test-error-key]="error.provideI18nKey()"
              class="sqtm-core-error-message">
          {{error.provideI18nKey()| translate}}
        </span>
  </div>
</div>
