<ng-container *ngIf="!edit">
  <div class="rich-text-border full-height" [class.editable]="editable" (click)="enableEditMode()">
    <div *ngIf="value; else placeHolder"
         [innerHTML]="value | safeRichContent"></div>
    <ng-template #placeHolder>
      <div>
        <span *ngIf="editable" class="sqtm-placeholder">{{placeholder}}</span>
      </div>
    </ng-template>
  </div>

</ng-container>
<div class="flex-column" *ngIf="edit">
  <div class="flex-row full-width">
    <ckeditor style="width: 100%"
              [(ngModel)]="editorModel.editorData"
              (blur)="handleClickOut($event)"
              (ready)="handleCKEditorReady()"
              [config]="config"
              [type]="type"
              [editorUrl]="'assets/sqtm-core/js/ckeditor/ckeditor.js'">
    </ckeditor>
  </div>
  <div class="flex-row full-width">
    <div *ngIf="mustShowButtons()" style="margin-top: 10px;">
      <button nz-button nzType="primary"
              [attr.data-test-button-id]="'confirm'"
              [ngClass]="getConfirmButtonCss()"
              [nzSize]="size"
              [nzLoading]="pending"
              (click)="confirm()">
        <i nz-icon [nzType]="'check'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
        </ng-container>
      </button>
      <button nz-button nzType="default"
              [attr.data-test-button-id]="'cancel'"
              [nzSize]="size"
              [ngClass]="getCancelButtonCss()"
              [nzLoading]="pending"
              (click)="cancel()">
        <i nz-icon [nzType]="'close'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
        </ng-container>
      </button>
    </div>
  </div>
  <div class="flex-column full-width has-error m-t-10" *ngIf="dirty && externalErrors.length > 0">
    <span *ngFor="let error of externalErrors" class="sqtm-core-error-message">{{error}}</span>
  </div>
</div>

