.issues-container {
  background-color: var(--container-background-color);
  border: 1px solid var(--container-border-color);
  border-radius: 5px;
}

.issues-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--current-workspace-main-color);

}

.collapse-button {
  margin: auto 0 auto auto;
}
