.rate-container {
  border-radius: 5px;
  border: 1px solid;
  width: 60px;
}

.percent {
  align-items: center;
  font-weight: bold;

  &-valid {
    color: white;
    background-color: #006F57;
    border-color: #006F57;
  }

  &-warning {
    background-color: #FFCC00;
    border-color: #FFCC00;
  }

  &-danger {
    color: white;
    background-color: #CB1524;
    border-color: #CB1524;
  }

  &-undefined {
    color: white;
    background-color: #A6ABAE;
    border-color: #A6ABAE;
  }
}
