<div #gridElement class="sqtm-grid sqtm-core-prevent-selection" *ngIf="gridDisplay$ | async as gridDisplay"
     [attr.data-test-grid-id]="gridDisplay.id">
  <!-- root wrapper contain the grid itself plus fix header/footer like pagination.-->
  <!--flex is column so footer will be nicely placed on foot -->
  <div class="flex-column sqtm-grid-std-layout full-width">
    <!-- root panel contains the grid core and lateral panels. flex is row -->
    <div class="sqtm-grid-root" *ngIf="uiState$|async as uiState">
      <sqtm-core-side-bar-navigator *ngIf="gridDisplay.enableRightToolBar"></sqtm-core-side-bar-navigator>
      <!-- lateral panel for column manager-->
      <sqtm-core-column-manager class="sqtm-grid-side-panel sqtm-grid-std-layout"
                                *ngIf="gridDisplay.enableRightToolBar && uiState.showColumnManager"></sqtm-core-column-manager>
      <!-- lateral panel for filter manager-->
<!--      <sqtm-core-filter-manager class="sqtm-grid-side-panel sqtm-grid-std-layout"-->
<!--                                [showExtendedScopeOptionInFilterPanel]="uiState.showExtendedScopeOptionInFilterPanel"-->
<!--                                *ngIf="uiState.showFilterManager"></sqtm-core-filter-manager>-->
      <!-- wrapper of the row main viewport -->
      <div class="sqtm-grid-core sqtm-grid-std-layout full-width">
        <sqtm-core-grid-viewport></sqtm-core-grid-viewport>
        <div class="full-width flex-fixed-size" style="position: relative">
          <ng-container *ngIf="grid.paginationDisplay$ |async as paginationDisplay">
            <sqtm-core-grid-footer *ngIf="paginationDisplay.showPaginationFooter" [disabled]="globalAsyncOperationRunning$|async"></sqtm-core-grid-footer>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!--DEBUG OBSERVABLES, ACTIVATE TO SHOW INTERNAL STATE-->
<!--<div>{{gridDisplay$ | async | json}}</div>-->
<!--<div>{{grid.paginationDisplay$ | async | json}}</div>-->
<!--<div>rows before slice {{grid.gridNodes$ | async | json}}</div>-->
<!--<div>dragging {{grid.dragging$ | async | json}}</div>-->
