<sqtm-app-search-view [workspaceName]="'requirement-workspace'"
                      [titleKey]="'sqtm-core.search.requirement.title'"
                      [filters]="filters"
                      [filterGroups]="filterGroups"
>
  <div [attr.data-test-toolbar-id]="'requirement-search-toolbar'"
       class="current-workspace-main-color font-20-px m-r-10 flex-row button-bar">

    <sqtm-core-toggle-icon [active]="hasSelectedRows$|async" (clickedInActiveMode)="massEdit()">
      <i [attr.data-test-toolbar-button-id]="'mass-edit-button'" nz-icon nzType="sqtm-core-generic:bulk_edition"
         class="action-icon-size" nzTheme="outline"
         nz-tooltip="{{ 'sqtm-core.search.requirement.modify.selection' | translate | capitalize}}"
         ></i>
    </sqtm-core-toggle-icon>

    <sqtm-core-toggle-icon [active]="hasSelectedRows$|async"
                           (clickedInActiveMode)="massBindMilestone()">
      <i [attr.data-test-toolbar-button-id]="'edit-milestones-button'" class="action-icon-size" nz-icon
         nzType="sqtm-core-generic:link_milestone" nzTheme="outline" nzTooltipPlacement="topRight"
         nz-tooltip="{{ 'sqtm-core.search.requirement.modify.milestone-binding' | translate | capitalize}}"></i>
    </sqtm-core-toggle-icon>

    <sqtm-core-toggle-icon [attr.data-test-toolbar-button-id]="'export-button'"
                           [active]="canExport$ | async"
                           (clickedInActiveMode)="showExportDialog()">
      <i nz-icon nzType="sqtm-core-generic:export" nzTheme="outline" class="action-icon-size"
         nz-tooltip="{{ 'sqtm-core.search.requirement.export' | translate | capitalize}}"></i>
    </sqtm-core-toggle-icon>
  </div>
</sqtm-app-search-view>

