.content-body {
  overflow-y: hidden;
  border: solid 1px var(--background-color);
  height: 100%;
  padding-left: 18px;
}

.content-head {
  margin-bottom: 28px;

  .reference {
    font-size: 16px;
    font-weight: 600;
  }
}
