<div *ngIf="state$ | async as state">
  <div class="flex-row m-t-5" *ngIf="entityType === executionDialogType && state.boundEnvironmentVariables.length > 0">
    <sqtm-core-label
      [text]="'sqtm-core.campaign-workspace.dialog.message.automated-tests-execution-supervision.tests-executed-with-environment-variables' | translate">
    </sqtm-core-label>
  </div>
  <ng-container *ngFor="let boundVariable of state.boundEnvironmentVariables">
    <div class="two-cols">
      <sqtm-core-label
        [text]="boundVariable.name + ' :'">
      </sqtm-core-label>
      <ng-container *ngIf="boundVariable.inputType === dropdownType; else simpleTextFieldEVValue">
        <sqtm-core-editable-select-field #selectFieldEVValue
                                         [attr.data-test-field-id]="'environment-variable-dropdown-value=' + boundVariable.id"
                                         [options]="getDropdownListOptions(boundVariable.options)"
                                         [value]="boundVariable.value"
                                         [allowEmptyValue]="true"
                                         (confirmEvent)="selectHandleProjectValueChange($event, boundVariable)"
                                         [layout]="'no-buttons'">
        </sqtm-core-editable-select-field>
        <i class="table-icon-size reset-tags-button __hover_pointer"
           nz-icon
           nzType="sqtm-core-administration:synchronize"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.entity.environment-variable.tooltip.reset-value'|translate"
           (click)="resetDefaultValue(boundVariable)"
           [attr.data-test-toolbar-button-id]="'reset-ev-value-button=' + boundVariable.id">
        </i>
      </ng-container>

      <ng-template #simpleTextFieldEVValue>
        <sqtm-core-editable-text-field #textFieldEVValue
                                       [attr.data-test-field-id]="'environment-variable-text-value=' + boundVariable.id"
                                       [value]="boundVariable.value"
                                       [validators]="getValidators()"
                                       (confirmEvent)="textHandleProjectValueChange($event, boundVariable)"
                                       sqtmCoreKeyupStopPropagation
                                       layout="no-buttons">
        </sqtm-core-editable-text-field>
        <i class="table-icon-size reset-tags-button __hover_pointer"
           nz-icon
           nzType="sqtm-core-administration:synchronize"
           nzTheme="outline"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.entity.environment-variable.tooltip.reset-value'|translate"
           (click)="resetDefaultValue(boundVariable)"
           [attr.data-test-toolbar-button-id]="'reset-ev-value-button=' + boundVariable.id">
        </i>
      </ng-template>
    </div>
  </ng-container>
</div>
