.two-cols {
  display: grid;
  grid-template-columns: minmax(300px, 2.5fr) minmax(160px, 2.5fr) minmax(1px, 1fr) minmax(150px, 1.3fr);
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  margin-top: 4px;
}
