<div class="flex-row"
     *ngIf="edit; else readMode">
    <sqtm-core-autocomplete-field
            [options]="options"
            [value]="transientValue"
            [size]="size"
            [placeholder]="placeholder"
            (valueChanged)="handleValueChanged($event)">
    </sqtm-core-autocomplete-field>
    <div class="flex-fixed-size" *ngIf="mustShowButtons()">
        <button nz-button nzType="primary"
                [attr.data-test-button-id]="'confirm'"
                [ngClass]="getConfirmButtonCss()"
                [nzSize]="size"
                [nzLoading]="pending"
                (click)="confirm()">
            <i nz-icon [nzType]="'check'"></i>
            <ng-container *ngIf="mustShowButtonLabels()">
                {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
            </ng-container>
        </button>
    </div>
    <div class="flex-fixed-size" *ngIf="mustShowButtons()">
        <button nz-button nzType="default"
                [attr.data-test-button-id]="'cancel'"
                [nzSize]="size"
                [ngClass]="getCancelButtonCss()"
                [nzLoading]="pending"
                (click)="cancel()">
            <i nz-icon [nzType]="'close'"></i>
            <ng-container *ngIf="mustShowButtonLabels()">
                {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
            </ng-container>
        </button>
    </div>
</div>

<ng-template #readMode>
    <div [ngClass]="getComponentClasses()">
        <span (click)="enableEditMode()">{{displayValue}}</span>
        <i *ngIf="editable" class="caret-icon flex-fixed-size" nz-icon nzType="caret-down" nzTheme="outline"
           (click)="enableEditMode()"></i>
    </div>
</ng-template>
