<div *ngIf="canShowSelectField">
  <sqtm-core-editable-select-field
      [options]="visibleProtocolOptions"
      [editable]="visibleProtocolOptions.length > 1"
      [layout]="'no-buttons'"
      [attr.data-test-field-id]="'authProtocol'"
      [value]="authProtocol"
      (confirmEvent)="confirmAuthProtocol($event)">
  </sqtm-core-editable-select-field>
</div>

<ng-container *ngIf="isOAuth1a">
  <div class="block-border oauth-grid p-l-10 m-t-8"
       [formGroup]="formGroup"
       [attr.data-test-component-id]="'oauth-form'">
    <sqtm-core-label
        [text]="translateKeys.consumerKey | translate">
    </sqtm-core-label>
    <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'consumerKey'"
        class="colspan-field">
    </sqtm-core-text-field>

    <sqtm-core-label
        [text]="translateKeys.requestTokens | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [formGroup]="formGroup"
        [fieldName]="'requestTokenHttpMethod'"
        [options]="requestMethodOptions">
    </sqtm-core-select-field>
    <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'requestTokenUrl'">
    </sqtm-core-text-field>

    <sqtm-core-label
        [text]="translateKeys.accessTokens | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [formGroup]="formGroup"
        [fieldName]="'accessTokenHttpMethod'"
        [options]="requestMethodOptions">
    </sqtm-core-select-field>
    <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'accessTokenUrl'">
    </sqtm-core-text-field>

    <sqtm-core-label
        [text]="translateKeys.authorize | translate">
    </sqtm-core-label>
    <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'userAuthorizationUrl'"
        class="colspan-field">
    </sqtm-core-text-field>

    <sqtm-core-label
        [text]="translateKeys.secret | translate">
    </sqtm-core-label>
    <sqtm-core-text-area-field
        [formGroup]="formGroup"
        [fieldName]="'clientSecret'"
        class="colspan-field">
    </sqtm-core-text-area-field>

    <sqtm-core-label
        [text]="translateKeys.signatureMethod | translate">
    </sqtm-core-label>
    <sqtm-core-select-field
        [formGroup]="formGroup"
        [fieldName]="'signatureMethod'"
        [options]="signatureMethodOptions"
        class="colspan-field">
    </sqtm-core-select-field>

    <div class="full-row flex-row">
      <button
          class="flex-fixed-size ant-btn ant-btn-primary m-auto m-t-5"
          nz-button
          [disabled]="! formGroup.dirty"
          [attr.data-test-component-id]="'save-oauth-button'"
          (click)="sendOAuthForm()">
        {{'sqtm-core.generic.label.save' | translate}}
      </button>
    </div>

    <div class="full-row flex-row"
         [attr.data-test-component-id]="'status-message'">
      <b class="m-auto">{{authConfigurationStatusMessage | translate}}</b>
    </div>
  </div>
</ng-container>
