<div class="full-width flex-row p-10 __hover_pointer"
     [attr.data-test-component-id]="report.id"
     *ngFor="let report of reportDisplayed" (click)="changeReport(report)">
  <div class="flex-fixed-size report-image">
    <img [src]="report.imageUrl"/>
  </div>
  <div class="full-width m-l-10">
    <div class="report-title">{{report.label}}</div>
    <div class="report-description">{{report.description}}</div>
  </div>
</div>
