<sqtm-core-entity-view-wrapper [sqtmCoreViewId]="'team-view'">
  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width" *ngIf="componentData$ | async as componentData">
      <ng-content select="[projection=context-title]">
      </ng-content>
      <div class="flex-row full-width">
        <sqtm-app-admin-view-header
          class="full-width p-t-10 p-r-20"
          [entityNameKey]="'name'"
          [dropdownMenu]="teamMenu"
          [showMenu]="loggedAsAdmin$ | async">
          <ng-content select="[projection=context-buttons]">
          </ng-content>
        </sqtm-app-admin-view-header>
      </div>

      <div class="flex-row full-width full-height">
        <div class="flex-fixed-size side-bar">
          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.information.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:information'">
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'authorisations'"
                  [nzTooltipTitle]="'sqtm-core.entity.user.authorisation.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:project'">
                  <ng-container *ngIf="teamViewService.authorisationCount$ | async as authorisationCount">
                    <div *ngIf="authorisationCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'team-view-authorisation-count'">
                      <span>{{authorisationCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'members'"
                  [nzTooltipTitle]="'sqtm-core.entity.team.member.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:user'">
                  <ng-container *ngIf="teamViewService.memberCount$ | async as memberCount">
                    <div *ngIf="memberCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'team-view-member-count'">
                      <span>{{memberCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>
        <div class="admin-contextual-content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <nz-dropdown-menu #teamMenu="nzDropdownMenu">
    <ul nz-menu [attr.data-test-menu-id]="'team-menu'">
      <li nz-menu-item
          class="sqtm-core-error-message"
          [attr.data-test-menu-item-id]="'delete-team'"
          (click)="handleDelete()">
        {{ 'sqtm-core.generic.label.delete' | translate }}
      </li>
    </ul>
  </nz-dropdown-menu>
</sqtm-core-entity-view-wrapper>
