<sqtm-core-customisable-dialog [dialogId]="'bind-environment-variable-dialog'"
                               [titleKey]="dialogRef.data.titleKey">
  <sqtm-core-dialog-body #element>
    <ng-container *ngIf="variablesAreAvailable; else emptyMessage">
      <div class="m-b-10 environment-variable-binding-dialog" >
        <sqtm-core-grouped-multi-list
          (itemSelectionChanged)="handleItemSelectionChange($event)"
          [virtualScroll]="false"
          [separateSelectedItems]="true"
          [workspace]="'administration-workspace'"
          [listItems]="listItems"
          [width]="557"
          [boxShadow]="'none'"
          [numberOfUngroupedItemsToDisplay]="10">
        </sqtm-core-grouped-multi-list>
      </div>
    </ng-container>

    <ng-template #environmentVariableItemTemplate let-item="item">
      <span class="environment-variable-label m-l-5 m-r-10 txt-ellipsis">{{item.label}}</span>
      <span class="environment-variable-type">({{getEnvironmentVariableTypeLabelKey(item.id)|translate}})</span>
    </ng-template>
  </sqtm-core-dialog-body>

  <ng-template #emptyMessage>
    <div>
      <span class="message">
        {{'sqtm-core.administration-workspace.servers.test-automation-servers.environment-variables.dialog.message.environment-variables-already-bound'|translate}}
      </span>
    </div>
  </ng-template>

  <sqtm-core-dialog-footer>
    <button
      [attr.data-test-dialog-button-id]="'confirm'"
      [disabled]="hasSelectedItems()"
      nz-button
      nzType="primary"
      (click)="confirm()"
    >{{'sqtm-core.generic.label.confirm' | translate}}</button>
    <button
      [attr.data-test-dialog-button-id]="'close'"
      class="flex-fixed-size m-l-10"
      nz-button nzType="default"
      sqtmCoreDialogClose>
      {{'sqtm-core.generic.label.cancel' | translate}}
    </button>
  </sqtm-core-dialog-footer>
</sqtm-core-customisable-dialog>

