<div class="section" *ngIf="section">
  <table class="full-width" *ngIf="hasData">
    <tr>
      <ng-container *ngFor="let title of section.header">
        <th>{{title | translate}}</th>
      </ng-container>
    </tr>
    <tr *ngFor="let row of section.rows">
      <ng-container *ngFor="let cellValue of row.values">
        <td *ngIf="!row.displayInItalic" class="table-cell">{{(cellValue | translate) || '-'}}</td>
        <td *ngIf="row.displayInItalic" class="table-cell"><i>{{(cellValue | translate) || '-'}}</i></td>
      </ng-container>
    </tr>
  </table>

  <div *ngIf="! hasData">
    {{'sqtm-core.generic.label.no-data' | translate}}
  </div>
</div>
