<ng-container *ngIf="columnDisplay && row">
  <ng-container *ngIf="this.grid.selectedRowIds$ | async as selectedRows">
    <div *ngIf="isRowSelected(selectedRows)" class="full-width full-height flex-column">
      <input [(ngModel)]="editedValue" nz-input class="editable-field" (blur)="updateState()" />
    </div>
  </ng-container>
</ng-container>
