<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel sqtmCoreAnchorLastPanel
                           [sqtmCoreAnchorPanel]="'dashboard'"
                           [sqtmCoreAnchorCollapsePanel]="'dashboard'"
                           [nzHeader]="dashboardTitle" class="anchor">
          <ng-template #dashboardTitle>
            <div class="flex-row full-width" style="overflow: hidden; justify-content: space-between">
              <div class="entity-view-collapse-panel-title flex-fixed-size m-r-10">
                <span
                  *ngIf="componentData.dashboard; else defaultDashboardTitle">{{componentData.dashboard.name}}
                  </span>
                <ng-template #defaultDashboardTitle>
                  <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                </ng-template>
              </div>
              <div class="flex-row" style="overflow: hidden">
                <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color"
                     *ngIf="componentData.statistics || componentData.dashboard">
                  {{'sqtm-core.generic.date.prefix.generated-on'|translate|capitalize}} {{componentData.generatedDashboardOn | date:'medium'}}
                </div>
                <button nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                        nz-button [nzType]="'primary'" [nzSize]="'small'"
                        class="flex-fixed-size" [attr.data-test-refresh-button-id]="'refresh-button'"
                        (click)="refreshStats($event, componentData.extendHighLvlReqScope)">
                <span>
                  <i nz-icon nzType="reload" nzTheme="outline"></i>
                </span>
                </button>
                <button
                  *ngIf="componentData.statistics && componentData.canShowFavoriteDashboard"
                  class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
                  nz-button [nzType]="'primary'" [nzSize]="'small'"
                  nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
                  (click)="displayFavoriteDashboard($event, componentData.extendHighLvlReqScope)">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
                </button>
                <button *ngIf="!componentData.statistics" class="flex-fixed-size m-l-5"
                        [attr.data-test-component-id]="'favorite-button'"
                        nz-button [nzType]="'primary'" [nzSize]="'small'"
                        nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                        (click)="displayDefaultDashboard($event, componentData.extendHighLvlReqScope)">
                  {{'sqtm-core.generic.label.default' | translate}}
                </button>
                <span class="m-l-10">
                  <i nz-icon
                     [nzType]="'filter'"
                     nzTheme="outline"
                     nz-popover
                     nzPopoverPlacement="bottomRight"
                     [nzPopoverContent]="filterMenu"
                     class="current-workspace-button action-icon-size"
                     [attr.data-test-toolbar-button-id]="'filter-button'"></i>
                </span>
              </div>

            </div>
          </ng-template>
          <ng-container *ngIf="componentData.dashboardLoaded; else generate">
            <sqtm-app-requirement-statistics-panel *ngIf="componentData.statistics"
                                                   [statistics]="componentData.statistics"
                                                   [scope]="this.getStatisticsScope(componentData)"
                                                   [milestoneModeData]="referentialDataService.milestoneModeData$|async">
            </sqtm-app-requirement-statistics-panel>
            <div *ngIf="componentData.dashboard" style="height: 84vh">
              <ng-container *ngIf="componentData.dashboard.chartBindings.length !== 0 ||
              componentData.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
                <sqtm-app-custom-dashboard
                  [dashboardId]="componentData.dashboard.id"
                  [chartBindings]="getChartBindings(componentData.dashboard)"></sqtm-app-custom-dashboard>
              </ng-container>
              <ng-template #emptyDashboardMessage>
                <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
              </ng-template>
            </div>
            <div *ngIf="!componentData.dashboard && !componentData.statistics" style="height: 84vh; text-align: center">
            <span style="font-weight: 600">
            {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}
          </span>
            </div>

          </ng-container>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
  <ng-template #filterMenu>
    <sqtm-core-editable-check-box
      [value]="componentData.extendHighLvlReqScope"
      (confirmEvent)="changeExtendedScope($event, componentData)"></sqtm-core-editable-check-box>
    <span
      class="m-l-10">{{('sqtm-core.search.requirement.criteria.extended-scope.label' | translate)}}</span>
    <i nz-icon
       nzType="sqtm-core-generic:help"
       nzTheme="outline"
       nz-tooltip
       [nzTooltipTitle]="'sqtm-core.requirement-workspace.statistics.extended-scope.tooltip'| translate"
       [nzTooltipPlacement]="'bottomRight'"
       class="current-workspace-button tooltip-icon table-icon-size m-l-5">
    </i>
  </ng-template>
  <ng-template #generate>
  <span class="label-color font-14-px m-r-10 __hover_pointer"
        (click)="refreshStats($event, componentData.extendHighLvlReqScope)">{{'sqtm-core.generic.label.dashboard.generate'|translate}}...</span>
  </ng-template>
</ng-container>
