<div class="flex-row full-height full-width" [ngClass]="getComponentClasses()" *ngIf="!edit"
     (click)="enableEditMode()">
  <ng-container *ngIf="value && isObfuscated; else readonlyValue">{{obfuscatedText}}</ng-container>
  <ng-template #readonlyValue>
      <span class="field-value-color" *ngIf="value; else placeHolderTemplate"
            nz-tooltip [sqtmCoreLabelTooltip]="value" [ellipsis]="true">
        {{value}}
      </span>
  </ng-template>
  <ng-template #placeHolderTemplate>
     <span *ngIf="editable && showPlaceHolder" class="sqtm-placeholder">
        {{!!placeholder ? placeholder : 'sqtm-core.generic.editable.placeholder'|translate}}
     </span>
    <div *ngIf="editable && displayInGrid" class="full-width grid-icon">
      <span><i nz-icon nzType="edit" nzTheme="outline"></i></span>
    </div>
  </ng-template>
  <i *ngIf="editable" class="pencil-icon flex-fixed-size" nz-icon [nzType]="getEditableIcon()" nzTheme="outline"></i>
</div>
<div class="flex-column"
     *ngIf="edit"
     [ngClass]="getComponentClasses()">
  <div class="flex full-width full-height" style="align-items: center">
    <input #input nz-input
           [type]="isObfuscated ? 'password' : 'text'"
           [ngClass]="getInputFieldCss()"
           [formControl]="formControl"
           (blur)="handleBlur($event)"
           (keyup)="handleKeyboardInput($event.keyCode)"
           [nzSize]="size"
           (mousedown)="stopMouseEventPropagation($event)"
    />
    <ng-container *ngIf="mustShowButtons()">
      <button nz-button nzType="primary"
              class="editable-text-field-confirm-button"
              [ngClass]="getConfirmButtonCss()"
              [nzSize]="size"
              [disabled]="dirty && formControl.errors"
              [nzLoading]="pending"
              (click)=confirm()>
        <i nz-icon [nzType]="'check'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.confirm' | translate | capitalize}}
        </ng-container>
      </button>
      <button nz-button nzType="default"
              [nzSize]="size"
              class="editable-text-field-cancel-button"
              [ngClass]="getCancelButtonCss()"
              [nzLoading]="pending"
              (click)="cancel()">
        <i nz-icon [nzType]="'close'"></i>
        <ng-container *ngIf="mustShowButtonLabels()">
          {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
        </ng-container>
      </button>
    </ng-container>
  </div>
  <div class="flex-column full-width has-error m-t-10" *ngIf="dirty && formControl.errors">
    <span *ngFor="let error of getErrors(formControl.errors)" class="sqtm-core-error-message">{{error}}</span>
  </div>
  <div class="flex-column full-width has-error m-t-10" *ngIf="dirty && externalErrors.length > 0">
    <span *ngFor="let error of externalErrors" class="sqtm-core-error-message">{{error}}</span>
  </div>
</div>
