.generated-label {
  margin-left: auto;
  font-weight: 200;
  font-size: 14px;
}

.external-capsule {
  width: 100%;
  height: 30px;
  margin: 1px 3px 1px 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .capsule-left-color-indicator {
    border-color: var(--container-border-color);
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 6px;
  }

  .inner-capsule {
    border-color: var(--container-border-color);
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}


.information-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 10fr);
  grid-column-gap: 1%;
  grid-row-gap: 30px;
  align-items: center;
}

.creation-modification-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.axis-information-row {
  display: grid;
  justify-items: start;
  grid-template-columns: 20px minmax(0,100px) auto;
  align-items: center;
}


.custom-field{
  filter: brightness(180%) saturate(60%);
}
