<ng-container *ngIf="componentData$|async as componentData">
  <ng-container *ngIf="projectsData$|async as projectData">
    <ng-container *ngIf="infoLists$|async as infoLists">
      <div class="full-width full-height" sqtmCoreAnchorResize>
        <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
          <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
            <nz-collapse-panel [sqtmCoreAnchorPanel]="'chart'" [sqtmCoreAnchorCollapsePanel]="'chart'"
                               [nzHeader]="chartTitle" class="anchor">
              <ng-template #chartTitle>
                <div class="flex-row full-width" style="justify-content: space-between; overflow: hidden">
                  <div class="entity-view-collapse-panel-title flex-fixed-size m-r-10">
                    {{'sqtm-core.entity.chart-definition.label' | translate}}
                  </div>
                  <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color"
                       nz-tooltip
                       [sqtmCoreLabelTooltip]="getGeneratedOnDisplayValue(componentData.chartDefinition.generatedOn)">
                    {{getGeneratedOnDisplayValue(componentData.chartDefinition.generatedOn)}}
                  </div>
                  <span class="flex-fixed-size" (click)="refreshStats($event)">
                    <i nz-icon nzType="sqtm-core-generic:refresh" nzTheme="outline"
                       nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                       class="current-workspace-button action-icon-size"
                       [attr.data-test-toolbar-button-id]="'refresh'">
                    </i>
                  </span>
                  <sqtm-core-toggle-icon class="flex-fixed-size m-l-5"
                                         (clickedInActiveMode)="modifyChart($event, componentData.chartDefinition.customReportLibraryNodeId)"
                                         [stopPropagation]="true"
                                         [active]="componentData.permissions.canWrite">
                    <i nz-icon nzType="sqtm-core-generic:edit" nzTheme="outline"
                       nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.modify' | translate | capitalize"
                       class="action-icon-size"
                       [attr.data-test-toolbar-button-id]="'modify'">
                    </i>
                  </sqtm-core-toggle-icon>
                  <span class="flex-fixed-size m-l-5" (click)="downloadChart($event)">
                    <i nz-icon nzType="sqtm-core-generic:download" nzTheme="outline"
                       nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.download' | translate | capitalize"
                       class="current-workspace-button action-icon-size"
                       [attr.data-test-toolbar-button-id]="'download'">
                    </i>
                  </span>
                </div>
              </ng-template>
              <div class="full-width" style="height: 700px">
                <sqtm-app-custom-chart
                  [chartDefinition]="componentData.chartDefinition"></sqtm-app-custom-chart>
              </div>
            </nz-collapse-panel>

            <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                               sqtmCoreAnchorLastPanel [nzHeader]="informationTitle" class="anchor">
              <ng-template #informationTitle>
                <div
                  class="entity-view-collapse-panel-title">{{'sqtm-core.test-case-workspace.title.information' | translate}}</div>
              </ng-template>

              <div class="creation-modification-grid">
                <sqtm-core-label
                  [text]="'sqtm-core.entity.generic.creation.label' | translate">
                </sqtm-core-label>
                <div [attr.data-test-field-id]="'chart-definition-created'">
                  <span>{{getAuditableText(componentData.chartDefinition.createdOn, componentData.chartDefinition.createdBy)}}</span>
                </div>
                <sqtm-core-label
                  [text]="'sqtm-core.entity.generic.modification.label' | translate">
                </sqtm-core-label>
                <div [attr.data-test-field-id]="'chart-definition-lastModified'">
                  <span>{{getAuditableText(componentData.chartDefinition.lastModifiedOn, componentData.chartDefinition.lastModifiedBy)}}</span>
                </div>
              </div>

              <div class="information-grid">
                <sqtm-core-label
                  [text]="'sqtm-core.custom-report-workspace.chart.perimeter.label' | translate">
                </sqtm-core-label>

                <div [attr.data-test-field-id]="'perimeter-information'"
                     class="txt-ellipsis"
                     nz-tooltip [sqtmCoreLabelTooltip]="getPerimeterLabel(componentData, projectData)">
                  {{getPerimeterLabel(componentData, projectData)}}
                </div>

                <sqtm-core-label
                  [text]="'sqtm-core.custom-report-workspace.chart.axis.label' | translate">
                </sqtm-core-label>
                <div>
                  <ng-container *ngIf="doesMeasureIsRequired(componentData.chartDefinition.type)">
                    <div class="axis-information-row">
                      <i class="current-workspace-main-color flex-fixed-size" nz-icon
                         [nzType]="getAxisIcon(componentData.chartDefinition.type, detailedAxisRoles.Measure)"
                         nzTheme="outline"></i>
                      <span class="m-l-10">{{getAxisI18nKey(detailedAxisRoles.Measure)|translate}}</span>

                      <div class="external-capsule txt-ellipsis"
                           [sqtmCoreWorkspace]="getWorkspace(componentData.chartDefinition.measures[0].column)"
                           [localTheme]="true">
                        <div class="full-height flex-fixed-size capsule-left-color-indicator"
                             [class.custom-field]="isCuf(componentData.chartDefinition.measures[0])"
                             [style.background-color]="columnPrototypeBorderColor"></div>
                        <div class="full-height full-width txt-ellipsis inner-capsule">
                          <div class="m-l-10 m-r-15 txt-ellipsis name"
                               [attr.data-test-field-id]="'measure-information'"
                               nz-tooltip
                               [sqtmCoreLabelTooltip]="getColumnDisplayValue(componentData.chartDefinition.measures[0]) | async">
                            {{getColumnDisplayValue(componentData.chartDefinition.measures[0]) | async}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>


                  <ng-container>
                    <div class="axis-information-row">
                      <i class="current-workspace-main-color flex-fixed-size" nz-icon
                         [nzType]="getAxisIcon(componentData.chartDefinition.type, detailedAxisRoles.Axis)"
                         nzTheme="outline"></i>
                      <span class="m-l-10">{{getAxisI18nKey(detailedAxisRoles.Axis)|translate}}</span>

                      <div class="external-capsule txt-ellipsis"
                           [sqtmCoreWorkspace]="getWorkspace(componentData.chartDefinition.axis[0].column)"
                           [localTheme]="true">
                        <div class="full-height flex-fixed-size capsule-left-color-indicator"
                             [class.custom-field]="isCuf(componentData.chartDefinition.axis[0])"
                             [style.background-color]="columnPrototypeBorderColor"></div>
                        <div class="full-height full-width txt-ellipsis inner-capsule">
                          <div class="m-l-10 m-r-15 txt-ellipsis name" [attr.data-test-field-id]="'axis-information'"
                               nz-tooltip
                               [sqtmCoreLabelTooltip]="getColumnDisplayValue(componentData.chartDefinition.axis[0]) | async">
                            {{getColumnDisplayValue(componentData.chartDefinition.axis[0]) | async}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="doesSeriesAreRequired(componentData.chartDefinition.type)">
                    <div class="axis-information-row">
                      <i class="current-workspace-main-color flex-fixed-size" nz-icon
                         [nzType]="getAxisIcon(componentData.chartDefinition.type, detailedAxisRoles.Series)"
                         nzTheme="outline"></i>
                      <span class="m-l-10">{{getAxisI18nKey(detailedAxisRoles.Series)|translate}}</span>

                      <div class="external-capsule txt-ellipsis"
                           [sqtmCoreWorkspace]="getWorkspace(componentData.chartDefinition.axis[1].column)"
                           [localTheme]="true">
                        <div class="full-height flex-fixed-size capsule-left-color-indicator"
                             [class.custom-field]="isCuf(componentData.chartDefinition.axis[1])"
                             [style.background-color]="columnPrototypeBorderColor"></div>
                        <div class="full-height full-width txt-ellipsis inner-capsule">
                          <div class="m-l-10 m-r-15 txt-ellipsis name"
                               [attr.data-test-field-id]="'series-information'"
                               nz-tooltip
                               [sqtmCoreLabelTooltip]="getColumnDisplayValue(componentData.chartDefinition.axis[1]) | async">
                            {{getColumnDisplayValue(componentData.chartDefinition.axis[1]) | async}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <sqtm-core-label
                  *ngIf="componentData.chartDefinition.filters.length > 0"
                  [text]="'sqtm-core.custom-report-workspace.chart.filters.name' | translate"
                  [attr.data-test-component-id]="'filters-label'">
                </sqtm-core-label>

                <div *ngIf="componentData.chartDefinition.filters.length > 0">
                  <ng-container *ngFor="let filter of componentData.chartDefinition.filters; let index = index;">
                    <div class="external-capsule txt-ellipsis"
                         [sqtmCoreWorkspace]="getWorkspace(filter.column)"
                         [localTheme]="true">
                      <div class="full-height flex-fixed-size capsule-left-color-indicator"
                           [class.custom-field]="isCuf(filter)"
                           [style.background-color]="columnPrototypeBorderColor"></div>
                      <div class="full-height full-width txt-ellipsis inner-capsule">
                        <div class="m-l-10 m-r-15 txt-ellipsis name"
                             [attr.data-test-field-id]="'filter-information-'+index"
                             nz-tooltip
                             [sqtmCoreLabelTooltip]="getFilterDisplayValue(filter, infoLists) | async">
                          {{getFilterDisplayValue(filter, infoLists) | async}}
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </nz-collapse-panel>
            <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
          </nz-collapse>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>


