<ng-container *ngIf="authenticatedUser$ | async as user">
  <div class="full-width full-height flex-column overflow-hidden admin-workspace-grid-container">

    <div class="flex-fixed-size flex-row">
      <span class="admin-workspace-secondary-title m-l-50">
        {{"sqtm-core.administration-workspace.users.manage.title" | translate}}
      </span>
      <div *ngIf="user.admin" class="flex-fixed-size admin-workspace-grid-toolbar"
           [attr.data-test-toolbar-id]="'users-toolbar'">
        <i nz-icon nz-dropdown
           nzType="sqtm-core-administration:user"
           nzTheme="outline"
           class="current-workspace-button multi-activate-user action-icon-size"
           [class.enabled]="gridService.hasSelectedRows$ | async"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.entity.user.tooltip.activate.multiple' | translate"
           [attr.data-test-toolbar-button-id]="'activate-button'"
           (click)="activateUsers($event)">
        </i>
        <i nz-icon nz-dropdown
           nzType="sqtm-core-administration:user"
           nzTheme="outline"
           class="current-workspace-button multi-deactivate-user action-icon-size"
           [class.enabled]="gridService.hasSelectedRows$ | async"
           nz-tooltip
           [nzTooltipTitle]="'sqtm-core.entity.user.tooltip.deactivate.multiple' | translate"
           [attr.data-test-toolbar-button-id]="'deactivate-button'"
           (click)="deactivateUsers($event)">
        </i>
        <i nz-icon nz-dropdown
           nzType="sqtm-core-generic:add"
           nzTheme="outline"
           class="current-workspace-button action-icon-size"
           nz-tooltip nzTooltipPlacement="topRight"
           [nzTooltipTitle]="'sqtm-core.entity.user.tooltip.add-user' | translate"
           [attr.data-test-toolbar-button-id]="'create-button'"
           (click)="addUser()">
        </i>
        <span class="current-workspace-button">
          <sqtm-core-toggle-icon (clickedInActiveMode)="deleteUsers($event)"
                                 [active]="gridService.hasSelectedRows$ | async">
            <i nz-icon nz-dropdown
               nzType="sqtm-core-generic:delete"
               nzTheme="outline"
               class="action-icon-size"
               nz-tooltip nzTooltipPlacement="topRight"
               [nzTooltipTitle]="'sqtm-core.entity.user.tooltip.delete-user.multiple' | translate"
               [attr.data-test-toolbar-button-id]="'delete-button'">
            </i>
          </sqtm-core-toggle-icon>
        </span>
        <sqtm-core-grid-export-menu
                [exportContent]="'sqtm-core.administration-workspace.users.grid.export' | translate"
                [workspaceName]="'sqtm-core.administration-workspace.label.short' | translate"
                [fileFormat]="'csv'" >
        </sqtm-core-grid-export-menu>
      </div>
    </div>

    <div class="flex-row full-width full-height">
      <sqtm-app-user-workspace-anchors></sqtm-app-user-workspace-anchors>
      <div class="flex-column full-height full-width overflow-hidden sqtm-large-grid-container p-10 m-l-10">
        <sqtm-core-text-research-field [attr.data-test-component-id]="'user-filter-field'"
                                       (newResearchValue)="filterUsers($event)"
                                       class="sqtm-core-multi-research-field">
        </sqtm-core-text-research-field>
        <sqtm-core-grid class="full-height"></sqtm-core-grid>
      </div>
    </div>


  </div>

</ng-container>
