<ng-container *ngIf="columnDisplay && row">
  <div class="open-close-cell full-width __hover_pointer" (click)="toggleRow($event, row)">
    <i nz-icon [nzType]="iconName(row)" class="font-14-px"></i>
  </div>
</ng-container>
