.form-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: end;
  align-items: center;
}

.submit-button {
  display: flex;
  justify-content: center;

  ::ng-deep.ant-btn {
    background-color: var(--nav-main-color) !important;
    border-color: var(--nav-main-color) !important;
    color: white;
  }
}

.login-failed {
  color: #ff0000;
  text-align: center;
}
