<ng-container *ngIf="componentData">
  <label class="block-title flex-row">
    {{'sqtm-core.entity.scm-server.credentials.label' | translate}}
    <ng-container *ngIf="componentData.testAutomationServer.supportsAutomatedExecutionEnvironments">
      <i nz-icon nzType="sqtm-core-generic:help" nzTheme="outline"
         nz-tooltip
         [nzTooltipTitle]="'sqtm-core.administration-workspace.servers.test-automation-servers.auth-policy.optional-help'|translate"
         class="current-workspace-button table-icon-size m-l-6">
      </i>
    </ng-container>
  </label>

  <div class="block-border p-l-10 m-t-8">
    <sqtm-core-third-party-credentials-form
        [authenticationProtocol]="componentData.testAutomationServer.authProtocol"
        [credentials]="componentData.testAutomationServer.credentials"
        [useRevokeButton]="true"
        [customModificationWarning]="modificationWarning"
        (submit)="sendCredentialsForm($event)"
        (revokeTokens)="deleteCredentials(componentData.testAutomationServer)">
    </sqtm-core-third-party-credentials-form>

    <div class="flex-row">
      <div class="flex-row" style="align-items: center;">
        <ng-container [ngSwitch]="statusIcon">
          <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#1890FF'"></i>
          <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
             [nzTwotoneColor]="'#FF0000'"></i>
        </ng-container>
        <b [attr.data-test-component-id]="'status-message'">
          {{credentialsStatusMessage | translate}}
        </b>
      </div>
    </div>
  </div>
</ng-container>
