<ng-container *ngIf="componentData">
  <div class="information-grid">
    <sqtm-core-label
        [text]="'sqtm-core.entity.bugtracker.kind.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-select-field
        [sqtmCoreGenericViewEditableSelectField]="'kind'"
        [attr.data-test-field-id]="'kind'"
        [options]="kindOptions"
        layout="no-buttons">
    </sqtm-core-editable-select-field>

    <sqtm-core-label
        [text]="'sqtm-core.entity.generic.url.label' | translate">
    </sqtm-core-label>
    <div class="url-link">
      <sqtm-core-editable-text-field
          [sqtmCoreGenericViewEditableTextField]="'url'"
          [attr.data-test-field-id]="'url'"
          layout="compact"
          class="m-r-5 overflow-hidden">
      </sqtm-core-editable-text-field>

      <a href="{{componentData.bugTracker.url}}"
         target="_blank"
         rel="noopener"
         class="m-l-10">
        <i nz-icon nzType="sqtm-core-administration:external_link" class="icon table-icon-size"></i>
      </a>
    </div>

    <sqtm-core-label
        [text]="'sqtm-core.entity.bugtracker.iframe-friendly.label' | translate">
    </sqtm-core-label>
    <sqtm-core-editable-check-box
        [sqtmCoreGenericViewEditableCheckboxField]="'iframeFriendly'"
        [attr.data-test-field-id]="'iframeFriendly'">
    </sqtm-core-editable-check-box>
  </div>
</ng-container>
