<ng-container *ngIf="projectDataMap$ | async as projectDataMap">
  <sqtm-core-customisable-dialog [titleKey]="data.titleKey" [dialogId]="data.id" (confirm)="confirmation()">
    <sqtm-core-dialog-body>
      <div class="flex-column full-width full-height">
        <div *ngIf="!data.writingRightOnLine || cantEditAllFields(projectDataMap)" class="flex-row">
          <div class="flex" style="align-items: center">
            <i nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
               [nzTwotoneColor]="'#1890FF'"></i>
          </div>
          <div class="flex-column">
            <div *ngIf="!data.writingRightOnLine" class="m-r-5 m-t-5 m-b-5 m-l-5">
              <span [attr.data-test-dialog-message]="'no-writing-right'"
              >{{'sqtm-core.search.generic.modify.no-writing-rights' | translate}}</span>
            </div>

            <div *ngIf="cantEditAllFields(projectDataMap)" class="m-r-5 m-t-5 m-b-5 m-l-5">
              <span [attr.data-test-dialog-message]="'different-info-lists'"
              >{{'sqtm-core.search.generic.modify.different-info-lists' | translate}}</span>
            </div>
          </div>

        </div>


        <div class="grid-optionals">
          <sqtm-core-optional-select-field #importance [fieldName]="'importance'"
                                           [i18nKey]="'sqtm-core.entity.test-case.importance.label'"
                                           [selectedValue]="'LOW'"
                                           [select]="!importanceAutoCheck"
                                           [displayOptions]="getWeightValues()"
                                           [labelWidthRatio]="optionalLabelWidthRatio"
                                           (checkEvent)="importanceAutoDisable($event)"
          >
          </sqtm-core-optional-select-field>
          <label nz-checkbox [nzDisabled]="autoDisable" (nzCheckedChange)="changeImportanceAuto($event)">auto</label>
          <sqtm-core-optional-select-field [fieldName]="'status'"
                                           [i18nKey]="'sqtm-core.entity.generic.status.label'"
                                           [selectedValue]="'WORK_IN_PROGRESS'"
                                           [displayOptions]="getStatusValues()"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
          <sqtm-core-optional-select-field [fieldName]="'type'"
                                           [i18nKey]="'sqtm-core.entity.test-case.type.label'"
                                           [selectedValue]="getDefaultType(projectDataMap)"
                                           [disable]="cantEditType(projectDataMap)"
                                           [displayOptions]="getTypeValues(projectDataMap)"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
          <sqtm-core-optional-select-field [fieldName]="'nature'"
                                           [i18nKey]="'sqtm-core.entity.test-case.nature.label'"
                                           [selectedValue]="getDefaultNature(projectDataMap)"
                                           [disable]="cantEditNature(projectDataMap)"
                                           [displayOptions]="getNatureValues(projectDataMap)"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
          <sqtm-core-optional-select-field [fieldName]="'automatable'"
                                           [i18nKey]="'sqtm-core.entity.test-case.automatable.label.title'"
                                           [selectedValue]="'Y'"
                                           [disable]="cantEditAutomatable(projectDataMap)"
                                           [displayOptions]="getAutomatableValues()"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
          <sqtm-core-optional-select-field [fieldName]="'automatedTestTechnology'"
                                           [i18nKey]="'sqtm-core.entity.test-case.automated-test-technology'"
                                           [selectedValue]="''"
                                           [displayOptions]="automatedTestTechnologyOptions"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
          <sqtm-core-optional-select-field [fieldName]="'scmRepository'"
                                           [i18nKey]="'sqtm-core.test-case-workspace.automation.source-code-repository-url.label'"
                                           [selectedValue]="''"
                                           [displayOptions]="scmRepoUrlOptions"
                                           [disable]="scmRepoUrlOptions.length == 1"
                                           [labelWidthRatio]="optionalLabelWidthRatio">
          </sqtm-core-optional-select-field>
          <div></div>
        </div>
      </div>
    </sqtm-core-dialog-body>
  </sqtm-core-customisable-dialog>
</ng-container>
