.body-content {
  align-items: center;
  padding: 8px;
}

.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

.sqtm-core-icon {
  font-size: 50px;
  padding-right: 10px;
  margin: 5px;
}
