<sqtm-core-entity-view-wrapper [sqtmCoreViewId]="'info-list-view'">
  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width" *ngIf="componentData$ | async as componentData">
      <div class="flex-row full-width">
        <sqtm-app-admin-view-header
          class="full-width p-t-10 p-r-20"
          [entityNameKey]="'label'"
          [dropdownMenu]="infoListMenu"
          [showMenu]="true">
          <div class="flex-column m-t-10" style="width: 40px">
            <sqtm-core-close-button class="m-b-20"></sqtm-core-close-button>
            <sqtm-core-fold-button></sqtm-core-fold-button>
          </div>
        </sqtm-app-admin-view-header>
      </div>

      <div class="flex-row full-width full-height">
        <div class="flex-fixed-size side-bar">

          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.information.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:information'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'options'"
                  [nzTooltipTitle]="'sqtm-core.entity.option.label.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:infolist'">
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>

        <div class="admin-contextual-content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <nz-dropdown-menu #infoListMenu="nzDropdownMenu">
    <ul nz-menu [attr.data-test-menu-id]="'info-list-menu'">
      <li nz-menu-item
          class="sqtm-core-error-message"
          [attr.data-test-menu-item-id]="'delete-infoList'"
          (click)="handleDelete()">
        {{ 'sqtm-core.generic.label.delete' | translate }}
      </li>
    </ul>
  </nz-dropdown-menu>

</sqtm-core-entity-view-wrapper>
