<ng-container *ngIf="columnDisplay">
  <div class="full-width full-height flex-row">
    <ng-container *ngFor="let ancestorIsLast of depthArray; index as i">
      <div class="flex-fixed-size full-height"
           [ngStyle]='getVerticalLineBackground(i, ancestorIsLast)'
           [style.width]="INDEX_BASE_WIDTH + 'px'">
      </div>
    </ng-container>
    <div class="flex-fixed-size full-height status-icon-container"
         [style.background-image]='lastLineBackground'
         [style.width]="INDEX_BASE_WIDTH + 'px'">
      <div *ngIf="!row.async && row.state !== 'leaf'" class="status-icon" [attr.data-test-row-toggle]="true"
           (click)="toggleRow($event)">
        <i nz-icon [nzType]="stateIcon" nzTheme="outline"></i>
      </div>
      <div *ngIf="row.async && row.state !== 'leaf'" class="async-icon">
        <i class="current-workspace-main-color" nz-icon nzType="loading" nzTheme="outline"></i>
      </div>
    </div>
    <ng-container [ngSwitch]="templateName">
      <ng-container *ngSwitchCase="'library'">
        <ng-container *ngTemplateOutlet="library"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'simpleContainer'">
        <ng-container *ngTemplateOutlet="simpleContainer"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'testCase'">
        <ng-container *ngTemplateOutlet="testCase"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'requirementFolder'">
        <ng-container *ngTemplateOutlet="requirementFolder"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'requirement'">
        <ng-container *ngTemplateOutlet="requirement"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'highLevelRequirement'">
        <ng-container *ngTemplateOutlet="highLevelRequirement"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'campaign'">
        <ng-container *ngTemplateOutlet="campaign"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'iteration'">
        <ng-container *ngTemplateOutlet="iteration"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'testSuite'">
        <ng-container *ngTemplateOutlet="testSuite"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'taTest'">
        <ng-container *ngTemplateOutlet="taTest"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'taProject'">
        <ng-container *ngTemplateOutlet="taProject"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'customReportNode'">
        <ng-container *ngTemplateOutlet="customReportNode"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'actionWord'">
        <ng-container *ngTemplateOutlet="actionWord"></ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #library>
  <div #openable class="library txt-ellipsis" [class.selected]="selected" [sqtmCoreSelectable]="row.id"
       [sqtmCoreSelectableDisabled]="!row.selectable"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px" nz-icon [nzType]="libraryIcon" nzTheme="fill"></i>
    <div class="m-l-10 m-r-15 current-workspace-main-color name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #simpleContainer>
  <div #openable class="capsule container-capsule txt-ellipsis"
       [sqtmCoreSelectable]="row.id"
       [sqtmCoreSelectableDisabled]="!row.selectable"
       [class.selected]="selected"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px" nz-icon [nzType]="SQTM_CORE_TREE_ICON_PREFIX + ':folder'"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #campaign>
  <div class="capsule container-capsule txt-ellipsis"
       [sqtmCoreSelectable]="row.id"
       [class.selected]="selected"
       [sqtmCoreSelectableDisabled]="!row.selectable"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px current-workspace-main-color" nz-icon
       [nzType]="SQTM_CORE_TREE_ICON_PREFIX + ':campaign'"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #iteration>
  <div class="capsule container-capsule txt-ellipsis"
       [sqtmCoreSelectable]="row.id"
       [sqtmCoreSelectableDisabled]="!row.selectable"
       [class.selected]="selected"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px current-workspace-main-color" nz-icon
       [nzType]="SQTM_CORE_TREE_ICON_PREFIX + ':iteration'"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #requirementFolder>
  <div #openable class="capsule container-capsule txt-ellipsis"
       [sqtmCoreSelectable]="row.id"
       [class.selected]="selected"
       [sqtmCoreSelectableDisabled]="!row.selectable"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px" nz-icon [nzType]="SQTM_CORE_TREE_ICON_PREFIX + ':folder'"></i>
    <i *ngIf="isRequirementSynchronized" class="m-l-10 font-16-px"
       [ngClass]="getRequirementSynchronizationStatusIconColor"
       nz-tooltip [nzTooltipTitle]="getRequirementSynchronizedStatusI18nKey"
       [attr.data-test-icon-id]="'synchronization-status'"
       nz-icon [nzType]="'retweet'"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #testCase>
  <div class="external-capsule txt-ellipsis" [sqtmCoreSelectable]="row.id">
    <div class="full-height flex-fixed-size capsule-left-color-indicator" [style.background-color]="testCaseBorderColor"
         nz-tooltip [nzTooltipTitle]="testCaseImportance.i18nKey | translate"
    ></div>
    <div class="full-height full-width txt-ellipsis inner-capsule" [class.selected]="selected">
      <i class="m-l-10 font-16-px sqtm-core-infolist-icon"
         *ngIf="mustShowInfoListItemIcon('TC_NATURE_ICON'); else iconPlaceholder"
         nz-icon [nzType]="getShowInfoListItemIcon('TC_NATURE_ICON')"
         nz-tooltip [nzTooltipTitle]="testCaseNatureLabel"></i>
      <i class="m-l-10 font-16-px" nz-icon [nzType]="testCaseStatusIcon" nzTheme="fill"
         nz-tooltip [nzTooltipTitle]="testCaseStatusTooltip"
         [style.color]="testCaseStatusColor"></i>
      <div class="m-l-10 m-r-15 name"
           [ngClass]="getTreeNodeClasses()"
           [style.color]="testCaseNameColor"
           nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
        <span class="force-ltr-for-node-name">{{nodeName}}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #testSuite>
  <div class="external-capsule txt-ellipsis" [sqtmCoreSelectable]="row.id" (dblclick)="toggleRow($event)">
    <div class="full-height flex-fixed-size capsule-left-color-indicator"
         [style.background-color]="testSuiteBorderColor"
         nz-tooltip [nzTooltipTitle]="testSuiteStatus.i18nKey | translate"
    ></div>
    <div class="full-height full-width txt-ellipsis inner-capsule" [class.selected]="selected">
      <i class="m-l-10 font-16-px current-workspace-main-color" nz-icon
         [nzType]="SQTM_CORE_TREE_ICON_PREFIX + ':tests-suite'"></i>
      <div class="m-l-10 m-r-15 name"
           [ngClass]="getTreeNodeClasses()"
           nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
        <span class="force-ltr-for-node-name">{{nodeName}}</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #requirement>
  <div #openable class="external-capsule txt-ellipsis" [sqtmCoreSelectable]="row.id"
       [sqtmCoreSelectableDisabled]="IsRequirementUnselectable" (dblclick)="toggleRow($event)">
    <div class="full-height flex-fixed-size capsule-left-color-indicator"
         [style.background-color]="requirementBorderColor"
         nz-tooltip [nzTooltipTitle]="requirementCriticality.i18nKey | translate"
    ></div>
    <div class="full-height full-width txt-ellipsis inner-capsule" [class.selected]="selected">
      <i class="m-l-10 font-16-px" *ngIf="mustShowInfoListItemIcon('REQ_CATEGORY_ICON'); else iconPlaceholder"
         nz-icon [nzType]="getShowInfoListItemIcon('REQ_CATEGORY_ICON')"
         nz-tooltip [nzTooltipTitle]="reqCategoryLabel"></i>
      <i *ngIf="isRequirementSynchronized && hasRemoteSynchronizationId" class="m-l-10 font-16-px"
         [ngClass]="getRemoteReqPerimeterStatusIconColor()"
         [attr.data-test-icon-id]="'remote-req-perimeter-status'"
         nz-tooltip [nzTooltipTitle]="getRemoteReqPerimeterStatusI18nKey()"
         nz-icon [nzType]="'retweet'"></i>
      <i class="m-l-10 font-16-px" nz-icon [nzType]="requirementStatusIcon" nzTheme="fill"
         nz-tooltip [nzTooltipTitle]="requirementStatusTooltip"
         [style.color]="requirementStatusColor"></i>
      <div class="m-l-10 m-r-15 name"
           [ngClass]="getTreeNodeClasses()"
           [class.synchronized]="isRequirementSynchronized"
           [class.requirement-unselectable]="IsRequirementUnselectable"
           nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'"
      >
        <span class="force-ltr-for-node-name">{{nodeName}}</span>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #highLevelRequirement>
  <div #openable class="external-capsule txt-ellipsis" [sqtmCoreSelectable]="row.id"
       [sqtmCoreSelectableDisabled]="IsRequirementUnselectable" (dblclick)="toggleRow($event)">
    <div class="full-height flex-fixed-size capsule-left-color-indicator"
         [style.background-color]="requirementBorderColor"
         nz-tooltip [nzTooltipTitle]="requirementCriticality.i18nKey | translate"
    ></div>
    <div class="full-height full-width txt-ellipsis inner-capsule" [class.selected]="selected">
      <i class="m-l-10 font-16-px" *ngIf="mustShowInfoListItemIcon('REQ_CATEGORY_ICON'); else iconPlaceholder"
         nz-icon [nzType]="getShowInfoListItemIcon('REQ_CATEGORY_ICON')"
         nz-tooltip [nzTooltipTitle]="reqCategoryLabel"></i>
      <i *ngIf="isRequirementSynchronized && hasRemoteSynchronizationId" class="m-l-10 font-16-px"
         [ngClass]="getRemoteReqPerimeterStatusIconColor()"
         [attr.data-test-icon-id]="'remote-req-perimeter-status'"
         nz-tooltip [nzTooltipTitle]="getRemoteReqPerimeterStatusI18nKey()"
         nz-icon [nzType]="'retweet'"></i>
      <i class="m-l-10 font-16-px" nz-icon [nzType]="requirementStatusIcon" nzTheme="fill"
         nz-tooltip [nzTooltipTitle]="requirementStatusTooltip"
         [style.color]="requirementStatusColor"></i>
      <div class="m-l-10 m-r-15 high-level-req-name"
            [ngClass]="getTreeNodeClasses()"
            [class.synchronized]="isRequirementSynchronized"
            [class.requirement-unselectable]="IsRequirementUnselectable"
            nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'"
      >
        <span class="force-ltr-for-node-name">{{nodeName}}</span>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #taProject>
  <div class="library txt-ellipsis" [class.selected]="selected" [sqtmCoreSelectable]="row.id"
       (dblclick)="toggleRow($event)">
    <i class="m-l-10 font-16-px" nz-icon nzType="sqtm-core-test-case:job" nzTheme="outline"></i>
    <div class="m-l-10 m-r-15 current-workspace-main-color name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>
<ng-template #taTest>
  <div
    class="capsule container-capsule txt-ellipsis"
    [sqtmCoreSelectable]="row.id"
    [class.selected]="selected">
    <i class="m-l-10 font-16-px" nz-icon nzType="sqtm-core-test-case:automation"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #actionWord>
  <div
    class="capsule container-capsule txt-ellipsis"
    [sqtmCoreSelectable]="row.id"
    [class.selected]="selected">
    <i class="m-l-10 font-16-px" nz-icon nzType="sqtm-core-action:action"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>

<ng-template #testCaseStatusTooltip>
  <span>{{testCaseStatus.i18nKey | translate}}</span><br/>
  <span>{{testCaseTooltipCoverageMessage}}</span><br/>
  <ng-container *ngIf="mustShowTestCaseTooltipStepMessage">
    <span>{{testCaseTooltipStepMessage}}</span><br/>
  </ng-container>
</ng-template>

<ng-template #requirementStatusTooltip>
  <span>{{requirementStatus.i18nKey | translate}}</span><br/>
  <span>{{requirementTooltipCoverageMessage}}</span><br/>
  <span>{{requirementTooltipDescriptionMessage}}</span><br/>
</ng-template>

<ng-template #iconPlaceholder>
  <div class="m-l-10 flex-fixed-size" style="width:14px"></div>
</ng-template>

<ng-template #customReportNode>
  <div
    class="capsule container-capsule txt-ellipsis"
    [sqtmCoreSelectable]="row.id"
    [class.selected]="selected">
    <i class="m-l-10 font-16-px current-workspace-main-color" nz-icon [nzType]="getCustomReportIcon()"></i>
    <div class="m-l-10 m-r-15 name"
         [ngClass]="getTreeNodeClasses()"
         nz-tooltip [sqtmCoreLabelTooltip]="nodeName" [nzTooltipPlacement]="'right'">
      <span class="force-ltr-for-node-name">{{nodeName}}</span>
    </div>
  </div>
</ng-template>
