:host ::ng-deep .ant-collapse-content-active {
  overflow: initial !important;
}

.panel-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.panel-buttons > div {
  padding: 0 5px;
}

.drop-requirement {
  border: solid 1px var(--current-workspace-main-color);
}
